@mixin textTruncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin listReset {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
        margin: 0;
    }
}

@mixin verticalAlign($center: false) {
    position: absolute;
    top: 50%;
    @if $center {
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    } @else {
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}


@mixin resetSelect(){
    appearance: none;
    background: none;
    display: block;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
    width: 108%;
    outline: 0;
    &::-ms-expand {
        display: none;
    }
}

@mixin cf() {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin placeholder {
    ::-webkit-input-placeholder {@content}
    :-moz-placeholder           {@content}
    ::-moz-placeholder          {@content}
    :-ms-input-placeholder      {@content}
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
}

@mixin responsive($width: 1024px) {
    @media all and (max-width: $width) {
        @content
    }
}

@mixin equal-cols($cols: 3, $left: 0%, $bottom: 0, $lastCol: 0){
    @if $lastCol > 0 {&:nth-of-type(#{$lastCol}n + 1){margin-left: $left;}} //Set the left margin to the new value  }//If $last is greater than 0, reset the column to correct values
    float: left;
    margin-left: $left;
    margin-bottom: $bottom;
    width: ( 100% - ($left * ($cols - 1)) ) / $cols;
    &:nth-of-type(#{$cols}n + 1){margin-left: 0;} //Remove the left-margin on every columns that are at the most left.
}
