@import 'bootstrapVariables';
@import 'mixins';

.cf {
    @include cf();
}

.clearfix {
    clear: both;
}

.dd-list {
    .btn {
        width: 25px;
        height: 25px;
        line-height: 25px;
        padding: 0;
        margin-top: -3px;
        margin-left: 3px;
        .fa {
            position: relative;
            top: -1px;
        }
    }
}

.selectWrapper {
    position: relative;
    label {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-weight: 400;
        font-size: 10px;
        pointer-events: none;
    }
}

.toggleAllCheckboxes {
    cursor: pointer;
    font-size: 22px;
    &:before {
        content: '\f204';
    }
    &.isChecked {
        &:before {
            content: '\f205';
        }
    }
}

.permissionsWrapper {
    .panel-heading {
        padding: 5px 10px;
        .panel-title {
            font-size: 12px;
        }
    }
    .panel-body {
        padding: 15px 10px 0 10px;
    }
}

.lineTitle {
    @include cf();
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    .fa {
        margin-top: 9px;
        font-size: 36px;
    }
}

.topbar {
    .logo {
        position: absolute;
        top: 0;
        left: 100px;
        z-index: 10;
        font-size: 30px;
        text-transform: none;
        .fa {
            color: #fff;
        }
    }
}

ul.translationGroups {
    &, ul {
        @include cf();
        @include listReset();
    }
    li.hasChildren {
        padding: 0 20px 20px 20px;
        border-left: 5px solid $brand-primary;
        border-right: 5px solid $brand-primary;
        border-bottom: 5px solid $brand-primary;
        position: relative;
    }
    > li.hasChildren {
        position: relative;
        margin-bottom: 40px;
        $left: 20px;
        > .groupTitle {
            display: block;
            width: calc(100% + #{$left * 2});
            margin: 0 0 10px 0;
            transform: translateX($left * -1);
            padding: 5px 0 5px 25px;
            background: $brand-primary;
            color: #fff;
            font-size: 22px;
        }
    }
    li {
        li {
            .verticalTitle {
                display: none;
            }
            .groupTitle {
                display: inline-block;
                padding: 5px 10px;
                font-size: 20px;
                margin: 0 !important;
            }
            &.hasChildren {
                margin-top: 10px;
                padding: 0 10px;
                background: #f9f9f9;
                border: 1px solid #ccc;
            }
        }
    }
    .verticalTitle {
        display: block;
        position: absolute;
        top: 50%;
        right: 100%;
        transform: translateY(-50%) translateX(50%);
        margin-top: 20px;
        writing-mode: vertical-rl;
        background: #fff;
        padding: 10px 0;
        z-index: 3;
    }
    .translationTitle {
        &.needsTranslation {
            color: red;
        }
    }
    textarea.form-control {
        min-height: 30px;
        font-size: 10px;
        &.needsTranslation {
            border: 1px solid red;
        }
    }
}

.treeMenu {
    li.active {
        > a {
            color: #5fbeaa !important;
        }
    }
}

#sidebar-menu ul {
    li a i {
        margin-right: 8px;
    }
    li a,
    .menu-title {
        padding-left: 12px;
        padding-right: 12px;
    }
    ul {
        font-size: 12px;
        li a i {
            margin-right: 4px;
        }
        a {
            padding-left: 30px;
            i {
                margin-right: 8px;
            }
        }
        ul {
            a {
                padding-left: 40px;
            }
        }
    }
}
