@import 'bootstrapVariables';
@import 'mixins';

html {
    &:before,
    &:after {
        transition: all 0.3s;
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10000;
        opacity: 0;
        visibility: hidden;
    }
    &:before {
        height: 100%;
        background: #000;
        opacity: 0.6;
    }
    &:after {
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        font-size: 10vw;
        color: #fff;
        z-index: 10001;
        content: 'Ladda upp fil...';
    }
    &.fileHover {
        &:before {
            visibility: visible;
            opacity: 0.7;
        }
        &:after {
            visibility: visible;
            opacity: 1;
        }
    }
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 100;
}

$colorSelected: #4490e6;
$leftBar: 200px;
$rightBar: 200px;
$horizontalPadding: 15px;
$verticalPadding: 10px;
$spaceFromTop: 40px;
#filemanager {
    transition: opacity 0.3s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
    box-sizing: border-box;
    border-radius: 5px;
    overflow: auto;
    z-index: 100000;
    &.loading {
        .loader {
            opacity: 0.3;
            visibility: visible;
        }
    }
    .view {
        height: 100%;
    }
    .flex {
        display: flex;
        height: 100%;
    }
    .bottomBar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        .leftSide {
            float: left;
        }
        .rightSide {
            float: right;
        }
        .btn-xs {
            margin-top: 6px;
        }
    }
    .leftBar {
        position: relative;
        min-width: $leftBar;
        max-width: $leftBar;
        padding: $verticalPadding $horizontalPadding;
        border-right: 1px solid #ccc;
        float: left;
        flex-grow: 1;
        flex-shrink: 0;
    }
    .mediaWrapper {
        $bottomBar: 35px;
        position: relative;
        padding: $verticalPadding $horizontalPadding;
        box-sizing: border-box;
        flex-grow: 1;
        height: 100%;
        ul.files {
            overflow: auto;
            height: calc(100% - #{$bottomBar});
        }
        .bottomBar {
            height: $bottomBar;
            background: #fff;
            padding: 0 $horizontalPadding;
            border-top: 1px solid #ccc;
            .columnSlider {
                font-size: 8px;
                max-width: 120px;
                margin-top: 6px;
                input {
                    margin-top: -1px;
                }
            }
        }
    }
    .rightBar {
        position: relative;
        min-width: $rightBar;
        max-width: $rightBar;
        float: right;
        height: 100%;
        border-left: 1px solid #ccc;
        overflow: auto;
        background: #fff;
        padding: $verticalPadding $horizontalPadding;
        flex-grow: 2;
        box-sizing: border-box;
    }
    .graphic {
        position: relative;
        padding-bottom: 100%;
        overflow: hidden;
        img,
        .icon {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        img {
            max-width: 100%;
            max-height: 100%;
        }
        .icon {
            border: 1px solid #ccc;
            border-radius: 10px;
            background: #fff;
            color: #000;
            line-height: 1;
            width: 90%;
            padding: 15px 0;
            text-align: center;
            box-sizing: border-box;
            text-transform: uppercase;
            font-size: 30px;
            //Data
            &.icon-pdf:before {font-family: FontAwesome;content: '\f1c1';}
            &.icon-html:before {font-family: FontAwesome;content: '\f121';}
            &.icon-css:before {font-family: FontAwesome;content: '\f121';}
            &.icon-js:before {font-family: FontAwesome;content: '\f121';}
            //Video
            &.icon-mp4:before {font-family: FontAwesome;content: '\f008';}
            &.icon-flv:before {font-family: FontAwesome;content: '\f008';}
            &.icon-3gp:before {font-family: FontAwesome;content: '\f008';}
            &.icon-ogv:before {font-family: FontAwesome;content: '\f008';}
            &.icon-webm:before {font-family: FontAwesome;content: '\f008';}
            //Music
            &.icon-mp3:before {font-family: FontAwesome;content: '\f001';}
            &:before {
                content: attr(data-extension);
            }
        }
    }
    .selectedFilesWrapper {
        .removeAllSelectedFiles {
            cursor: pointer;
            margin-left: 10px;
        }
        .bulkEdit {
            display: block;
            margin-top: 10px;
        }
    }
    .previewFile {
        .name,
        .path {
            word-wrap: break-word;
        }
    }

    .actionButtons {
        @include cf();
        position: absolute;
        padding: $verticalPadding $horizontalPadding;
        bottom: 0;
        left: 0;
        width: 100%;
        a {
            width: 48%;
        }
        .saveFilemanger {
            float: left;
        }
        .closeFilemanager {
            float: right;
        }
    }
}

#filemanager ul {
    @include listReset();
    @include cf();
    li {
        &:last-child {
            margin-bottom: 0 !important;
        }
    }
    &.files {
        li {
            @for $i from 1 through 12 {
                &.col-#{$i} {
                    @include equal-cols($i, 1%, 1%);
                    @if ($i > 6) {
                        font-size: 10px;
                    }
                    @if ($i > 6) {
                        .graphic {
                            .icon {
                                padding: 10px 0;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
            transition: all 0.3s;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 5px;
            background: #fafafa;
            text-align: center;
            box-sizing: border-box;
            cursor: pointer;
            .inner {
                position: relative;
            }
            .name {
                display: block;
                text-align: center;
                padding: 5px;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 100%;
                overflow: hidden;
            }
            &.directory {
                .fa {
                    font-size: 40px;
                    padding: 10px 0;
                }
            }
            &:hover,
            &.selected {
                background: $colorSelected;
                color: #fff;
            }
        }
    }
    &.directoriesTree {
        li {
            position: relative;
            padding: 5px 0;
            a {
                position: relative;
                display: inline-block;
                z-index: 10;
                color: $text-color;
                cursor: pointer;
            }
            &.selected {
                > a {
                    font-weight: 600;
                }
            }
            .toggle {
                padding: 5px 10px;
                cursor: pointer;
                &:before {
                    content: '\f0da';
                }
            }
            &.open {
                > .toggle {
                    &:before {
                        content: '\f0d7';
                    }
                }
                > ul {
                    display: block;
                }
            }
            ul {
                display: none;
                position: relative;
                margin: 10px 0;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 1px;
                    height: 100%;
                    background: #ccc;
                    display: block;
                }
                li {
                    padding: 0 0 0 10px;
                }
            }
        }
    }
    &.selectedFiles {
        li {
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;
            padding: 4px 0;
            .fa {
                width: 15px;
                cursor: pointer;
                margin-right: 3px;
                &:before {
                    content: '\f00d';
                }
            }
        }
    }
    &.fileInfo {
        margin-top: 20px;
        li {
            @include cf();
            padding: 2px 0;
            &.name {
                font-weight: 600;
            }
            &.path {
                font-size: 10px;
                margin-bottom: 15px;
            }
            &.newTab {
                margin-top: 10px;
            }
            span {
                display: block;
                float: left;
                &:first-child {
                    width: 70px;
                    font-weight: 700;
                }
                &:nth-of-type(2) {
                    //float: right;
                }
            }
        }
    }

}
