<template>
    <div id="filemanager-bottombar">
        <div class="left">
            <div class="column padding directoryPath">
                <ul>
                    <li><i class="fa fa-folder-open-o"></i></li>
                    <li v-for="(directory, key) in directories" class="breadcrumb">
                        <a v-on:click="changeDirectory(directory.path)">{{ directory.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right">
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    name: 'Bottombar',
    components: {
    },
    computed: {
        ...mapGetters({
            currentDirectory: 'directory',
        }),
        directories () {
            var splittedPath = this.currentDirectory.split('/');
            var directories = [];
            var prePath = ''
            for (var i in splittedPath) {
                var currentPath = splittedPath[i];
                directories.push({
                    name: currentPath,
                    path: prePath + currentPath,
                });
                prePath += currentPath +'/';
            }

            return directories;
        },
    },
    methods: {
        changeDirectory (directoryPath) {
            if (directoryPath == this.currentDirectory) {
                return false;
            }
            this.$store.dispatch('fetchFiles', directoryPath);
        },
    }
}
</script>

<style lang="scss" scoped>
    #filemanager-bottombar {
        .directoryPath {
            font-size: 12px;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    display: inline-block;
                    padding: 0 5px;
                    &.breadcrumb {
                        cursor: pointer;
                        &:after {
                            content: '/';
                            position: relative;
                            left: 5px;
                        }
                        &:last-child {
                            cursor: default;
                            a {
                                color: orange;
                            }
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
</style>
