<template>
    <transition name="fade">
    <div id="filemanager" v-if="isOpen" :class="{open: isOpen, closed: !isOpen}" @drop="drop" @dragenter="dragenter" @dragleave="dragleave" @dragover="dragOver">
        <loader @onHidePopup="onHidePopup"></loader>
        <popup></popup>
        <OnFileDrag @hideDragDropView="hideDragDropView"></OnFileDrag>
        <div id="filemanager-wrapper">
            <topbar></topbar>
            <div id="filemanager-mainContent">
                <component :is="mainView"></component>
            </div>
            <bottombar></bottombar>
        </div>
    </div>
    </transition>
</template>

<script>
import _ from 'lodash';
import { mapGetters } from 'vuex';
import Vue from 'vue';
import axios from 'axios';

import Loader from './parts/Loader.vue';
import Popup from './parts/Popup.vue';
import OnFileDrag from './parts/OnFileDrag.vue';
import Topbar from './Topbar.vue';
import Bottombar from './Bottombar.vue';
import Mediamanager from './Mediamanager.vue';

export default {
    name: 'Filemanager',
    components: {
        Loader,
        Popup,
        OnFileDrag,
        Topbar,
        Bottombar,
        Mediamanager,
    },
    data () {
        return {
            uploadedFiles: [],
            draggingCounter: 0,
        };
    },
    computed: {
        ...mapGetters([
            'mainView',
            'directory',
            'isOpen',
        ]),
    },
    methods: {
        drop (e) {
            e.preventDefault();
            this.draggingCounter = 0;
            this.$store.dispatch('uploadFiles', e.target.files || e.dataTransfer.files || []);
        },
        dragenter (e) {
            e.preventDefault();
            this.showDragDropView();
            this.draggingCounter += 1;
        },
        dragleave (e) {
            this.draggingCounter -= 1;
            if (this.draggingCounter === 0) {
                this.hideDragDropView();
            }
        },
        dragOver (e) {
            e.preventDefault();
        },
        showDragDropView () {
            this.$store.commit('showOverlay');
            this.$store.commit('showUploader');
        },
        hideDragDropView () {
            this.$store.commit('hideOverlay');
            this.$store.commit('hideUploader');
        },
        onHidePopup () {
            this.$store.commit('hideUploader');
        },
        escapeKeyListener (e) {
            if (e.keyCode == 27) {
                this.$store.dispatch('hidePopup');
            }
        },
    },
    created () {
        document.addEventListener('keyup', this.escapeKeyListener);
    },
    destroyed: function() {
        document.removeEventListener('keyup', this.escapeKeyListener);
    },
    mounted () {
        this.$store.dispatch('fetchBootstrapData');
    },
}
</script>

<style lang="scss">
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to {
      opacity: 0;
    }

    #filemanager {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 90%;
        max-height: 90%;
        width: 100%;
        height: 100%;
        background: #fff;
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
        box-sizing: border-box;
        border-radius: 5px;
        overflow: auto;
        z-index: 1020;
        .graphic {
            position: relative;
            padding-bottom: 100%;
            overflow: hidden;
            img,
            .icon {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            img {
                max-width: 100%;
                max-height: 100%;
            }
            .icon {
                color: #000;
                line-height: 1;
                text-align: center;
                box-sizing: border-box;
                text-transform: uppercase;
                font-size: 30px;
                //Data
                &.icon-spinner {
                    -webkit-animation: fa-spin 2s infinite linear;
                    animation: fa-spin 2s infinite linear;
                    margin-top: -13px;
                    margin-left: -13px;
                    color: #ccc;
                    &:before {
                        font-family: FontAwesome;
                        content: '\f021';
                    }
                }
                &.icon-pdf:before {font-family: FontAwesome;content: '\f1c1';}
                &.icon-html:before {font-family: FontAwesome;content: '\f121';}
                &.icon-css:before {font-family: FontAwesome;content: '\f121';}
                &.icon-js:before {font-family: FontAwesome;content: '\f121';}
                //Video
                &.icon-mp4:before {font-family: FontAwesome;content: '\f008';}
                &.icon-flv:before {font-family: FontAwesome;content: '\f008';}
                &.icon-3gp:before {font-family: FontAwesome;content: '\f008';}
                &.icon-ogv:before {font-family: FontAwesome;content: '\f008';}
                &.icon-webm:before {font-family: FontAwesome;content: '\f008';}
                //Music
                &.icon-mp3:before {font-family: FontAwesome;content: '\f001';}
                &.icon-hidden:before {font-family: FontAwesome;content: '\f070';}
                &:before {
                    content: attr(data-extension);
                }
            }
        }
        .fa {
            line-height: inherit;
        }
    }
    #filemanager-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    #filemanager-mainContent {
        flex: 1;
        overflow: auto;
    }
    #filemanager-topbar {
        border-bottom: 1px solid #eee;
        height: 40px;
        line-height: 40px;
        .column {
            .drop {
                top: 100%;
            }
        }
    }
    #filemanager-bottombar {
        height: 30px;
        line-height: 30px;
        border-top: 1px solid #eee;
        .column {
            .drop {
                bottom: 100%;
            }
        }
    }

    #filemanager-topbar,
    #filemanager-bottombar {
        position: relative;
        z-index: 10;
        box-sizing: border-box;
        display: flex;
        width: 100%;
        .left,
        .right {
            display: flex;
            width: 50%;
        }
        .left {
            .column {
                border-right: 1px solid #eee;
            }
            .drop {
                left: 0;
            }
        }
        .right {
            display: flex;
            justify-content: flex-end;
            .column {
                border-left: 1px solid #eee;
            }
            .drop {
                right: 0;
            }
        }
        .column {
            transition: all 0.3s;
            display: flex;
            position: relative;
            font-size: 20px;
            .number {
                font-size: 0.8em;
            }
            &.padding,
            &.clickarea,
            .clickarea {
                padding: 0 15px;
            }
            &.clickarea,
            .clickarea,
            .button {
                cursor: pointer;
            }
            .button {
                background: #fff;
                &:hover {
                    background: #efefef;
                }
            }
            .drop {
                transition: all 0.3s;
                position: absolute;
                min-width: 100%;
                background: #fff;
                border-radius: 0 0 5px 5px;
                border: 1px solid #eee;
                z-index: 2;
                padding: 10px 15px;
                box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
                opacity: 0;
                visibility: hidden;
                white-space: nowrap;
            }
            &.visible,
            &:hover {
                .drop {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
</style>
