<template>
    <div>
        <input type="hidden" :name="inputName" value="" v-if="multiple == false">
        <div class="images" v-if="selectedFiles.length > 0">
            <div v-for="(file, key) in selectedFiles" class="file">
                <input type="hidden" :name="inputName" :value="file.path">
                <div class="image">
                    <img :src="file.thumb.filemanager" alt="">
                    <span class="remove" v-on:click="removeFile(file)"><i class="fa fa-times-circle-o"></i></span>
                </div>
            </div>
        </div>

        <a class="btn btn-inverse btn-lg" v-on:click="openFilemanager" v-if="multiple == true || (multiple == false && selectedFiles.length == 0)"><i class="fa fa-file"></i> Välj fil</a>
    </div>
</template>

<script>
import Filemanager from './../filemanager.js';

export default {
    name: 'filemanager-picker',
    props: {
        name: String,
        files: null,
        multiple: {
            default: false,
        },
    },
    data () {
        return {
            selectedFiles: [],
        };
    },
    methods: {
        openFilemanager(e) {
            var self = this;
            e.preventDefault();
            Filemanager.open({
                selectMultiple: self.multiple,
            }).onSave(function(file) {
                if (self.multiple == false) {
                    self.selectedFiles = [];
                }
                self.selectedFiles.push(file);
            });
        },
        findFileIndex(file) {
            return this.selectedFiles.findIndex(selectedFile => selectedFile.id == file.id);
        },
        removeFile(file) {
            this.selectedFiles.splice(this.findFileIndex(file), 1)
        },
    },
    computed: {
        inputName() {
            return this.multiple ? this.name +'[]' : this.name;
        },
    },
    mounted() {
        const parsed = JSON.parse(this.files);
        this.selectedFiles = parsed.length == undefined ? [parsed] : parsed;
    },
}
</script>

<style lang="scss" scoped>
    .images {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0 20px 0;
        .image {
            position: relative;
            width: 100px;
            height: auto;
            padding: 5px;
            background: #fff;
            border: 1px solid #ccc;
            box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
            margin-right: 10px;
            img {
                width: 100%;
                height: auto;
            }
            .remove {
                transition: all 0.3s;
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                transform: translate(50%, -50%);
                font-size: 22px;
                background: #fff;
                border-radius: 100%;
                line-height: 1px;
                padding: 2px;
                opacity: 0;
                visibility: hidden;
                cursor: pointer;
                &:hover {
                    color: red;
                }
            }
            &:hover {
                .remove {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
</style>
