<template>
    <div id="filemanager-mediamanager">
        <div class="middleContent">
            <Itemlist :files="filesList"></Itemlist>
        </div>
        <div class="rightSidebar">
            <preview></preview>
        </div>
    </div>
</template>


<script>
import axios from 'axios';
import { mapGetters } from 'vuex';

import Itemlist from './parts/Itemlist.vue';
import Preview from './parts/Preview.vue';
export default {
    name: 'mediamanager',
    props: [],
    components: {
        Itemlist,
        Preview,
    },
    data () {
        return {
        };
    },
    computed: {
        ...mapGetters([
            'files',
            'temporaryFiles',
        ]),
        orderedFiles () {
            return this.files.slice().reverse();
        },
        filesList () {
            if (this.temporaryFiles != null) {
                return this.temporaryFiles;
            }
            return this.orderedFiles;
        },
    },
    methods: {
    },
}
</script>

<style lang="scss" scoped>
    #filemanager-mediamanager {
        display: flex;
        width: 100%;
        height: 100%;
        $sidebar: 300px;
        $padding: 20px;
        .leftSidebar,
        .rightSidebar {
            max-width: $sidebar;
            min-width: $sidebar;
            padding: $padding;
            box-sizing: border-box;
        }
        .middleContent {
            padding: $padding;
            width: 100%;
            overflow: auto;
        }
    }
</style>
