<template>
    <div id="filemanager-topbar">
        <div class="left">
            <SelectedItems></SelectedItems>
            <actionButtons></actionButtons>
        </div>
        <div class="right">
            <ButtonUploader></ButtonUploader>
            <Directories></Directories>
            <Search></Search>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import ActionButtons from './parts/ActionButtons.vue';
import SelectedItems from './parts/SelectedItems.vue';
import Search from './parts/Search.vue';
import Directories from './parts/Directories.vue';
import ButtonUploader from './parts/ButtonUploader.vue';

export default {
    name: 'Topbar',
    components: {
        ActionButtons,
        SelectedItems,
        Search,
        Directories,
        ButtonUploader,
    },
    computed: {
        ...mapGetters([
            'selectedFiles',
        ]),
    },
}
</script>
