<template>
    <div class="column actionButtons">
        <a class="actionButton closeFilemanager" v-on:click="close" v-if="config.functions.close">Stäng</a>
        <a class="actionButton saveFilemanager" v-on:click="save" v-if="selectedFiles.length > 0 && config.functions.save">Spara</a>
    </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex';

export default {
    name: 'ActionButtons',
    props: [],
    data () {
        return {
        }
    },
    components: {
    },
    computed: {
        ...mapGetters([
            'config',
            'selectedFiles',
        ]),
    },
    methods: {
        close () {
            this.$store.dispatch('close');
        },
        save () {
            this.$store.dispatch('save');
        },
    },
}
</script>

<style lang="scss" scoped>
    .actionButton {
        font-size: 12px;
        line-height: 1;
        color: #fff;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        margin-left: 10px;
        border-radius: 5px;
        margin-top: 3px;
        cursor: pointer;
        &.closeFilemanager {
            background: red;
        }
        &.saveFilemanager {
            background: orange;
        }
    }
</style>
