<template>
    <div class="column button buttonUploaderIcon">
        <label class="clickarea" title="Ladda upp fil">
            <i class="fa fa-upload"></i>
            <input type="file" multiple style="display: none;" v-on:change="uploadFiles">
        </label>
    </div>
</template>

<script>
export default {
    name: 'ButtonUploader',
    components: {
    },
    data () {
        return {
            files: [],
        };
    },
    computed: {
    },
    methods: {
        uploadFiles (e) {
            this.$store.dispatch('uploadFiles', e.target.files || e.dataTransfer.files || []);
        }
    }
}
</script>
