<template>
    <div class="column button directoriesIcon" :class="{visible: showDrop}" v-click-outside="closeDrop">
        <div class="clickarea" title="Kataloger" v-on:click="toggleDrop">
            <i class="fa fa-folder"></i>
        </div>
        <div class="drop">
            <DirectoriesTree :directories="directories" :level="1" ulClass="directoriesTree"></DirectoriesTree>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import DirectoriesTree from './DirectoriesTree.vue';
export default {
    name: 'Directories',
    components: {
        DirectoriesTree,
    },
    data () {
        return {
            showDrop: false,
        };
    },
    computed: {
        ...mapGetters([
            'directories',
        ]),
    },
    methods: {
        toggleDrop () {
            this.showDrop = !this.showDrop;
        },
        closeDrop () {
            this.showDrop = false;
        },
    }
}
</script>
