<template>
    <ul :class="[ulClass, 'level-'+ level]" v-if="directories.length > 0">
        <li v-for="(directory, key) in directories" :class="[{
            hasSubmenu: directory.children.length > 0,
            noSubmenu: directory.children.length == 0,
            active: directory.path == currentDirectory
        }]"
        >
            <a>
                <span class="circle"><i class="fa fa-circle"></i></span>
                <span class="directoryName" v-on:click="changeDirectory(directory.path)">{{ directory.pathinfo.basename }}</span>
                <span class="settingsIcon" v-on:click="manageDirectory(directory.path, directory.pathinfo.basename, directory.parent)" v-if="directory.isRoot == false"><i class="fa fa-pencil"></i></span>
                <span class="createIcon" v-on:click="createDirectory(directory.path)"><i class="fa fa-plus-circle"></i></span>
            </a>
            <DirectoriesTree :directories="directory.children" :level="level + 1"></DirectoriesTree>
        </li>
    </ul>
</template>

<script>
import { mapGetters } from 'vuex';

import DirectoriesTree from './DirectoriesTree.vue';

export default {
    name: 'DirectoriesTree',
    props: ['directories', 'ulClass', 'level'],
    components: {
        DirectoriesTree,
    },
    computed: {
        ...mapGetters({
            currentDirectory: 'directory',
        }),
    },
    methods: {
        changeDirectory (directoryPath) {
            this.$store.dispatch('fetchFiles', directoryPath);
        },
        manageDirectory (currentDirectory, directoryName, parentDirectory) {
            this.$store.dispatch('openEditDirectory', {
                currentDirectory: currentDirectory,
                directoryName: directoryName,
                parentDirectory: parentDirectory,
            });
        },
        createDirectory (directoryPath) {
            this.$store.dispatch('openCreateDirectory', {
                currentDirectory: directoryPath,
            });
        },
    },
}
</script>

<style lang="scss" scoped>
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    ul.directoriesTree {
        margin: 0.5em;
        font-size: 16px;
        li {
            line-height: 1.2;
            position: relative;
            padding: 0 0 1em 1em;
            &:last-child:before {
                height: 1em;
                bottom: auto;
            }
            &:before {
                position: absolute;
                top: 0;
                bottom: 0;
                left: -.5em;
                display: block;
                width: 0;
                border-left: 1px solid #777;
                content: "";
            }
            &.hasSubmenu {
                > a {
                    border-bottom: 0;
                    &:after {
                        border-radius: 0 .3em 0 0;
                        border-top: 1px solid #777;
                        border-right: 1px solid #777;
                        border-bottom: 0;
                        border-left: 0;
                        bottom: 0;
                        top: 0.5em;
                        height: auto;
                    }
                }
            }
            &.noSubmenu {
                > a {
                    &:after {
                        border-left: 0;
                    }
                }
            }
            &.active {
                > a {
                    color: green;
                }
            }
            a {
                position: relative;
                display: inline-block;
                background: #fff;
                cursor: pointer;
                &:hover {
                    color: #666;
                    .settingsIcon,
                    .createIcon {
                        visibility: visible;
                    }
                }
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -23px;
                    display: block;
                    height: 0.5em;
                    width: 1em;
                    border-bottom: 1px solid #777;
                    border-left: 1px solid #777;
                    border-radius: 0 0 0 .3em;
                }
            }
            .circle {
                position: absolute;
                z-index: 1;
                float: left;
                text-align: center;
                top: 0;
                left: -29px;
                font-size: 12px;
                color: #000;
            }
            .settingsIcon,
            .createIcon {
                transition: all 0.3s;
                visibility: hidden;
                margin-left: 5px;
                &:hover {
                    color: orange;
                }
            }
        }
        ul {
            li {
                padding: 0.7em 0 0 1em;
            }
        }
        > li {
            &:last-child {
                padding-bottom: 0;
                &:before {
                    display: none;
                }
            }
        }
    }
</style>
