<template>
    <ul class="items row" v-if="files.length > 0">
        <li v-for="(file, key) in files" 
            :class="['col-sm-2', '']"
            :title="file.name +'.'+ file.extension +' ('+ file.path +')'"
            :data-file-id="file.id"
        >
            <Itembox :file="file"></Itembox>
        </li>
    </ul>
    <h4 v-else>Inga filer hittades...</h4>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import Itembox from './Itembox.vue';
export default {
    name: 'Itemlist',
    props: ['files'],
    components: {
        Itembox,
    },
    data () {
        return {
        };
    },
    computed: {
    },
    methods: {
    }
}
</script>

<style lang="scss" scoped>
    ul.items {
        list-style: none;
        padding: 0;
        li {
            transition: all 0.3s;
            padding: 5px;
        }
    }
</style>
