<template>
    <div 
        :class="['itembox', {selected: selected}]"
        v-on:click="toggleFileSelection(file)"
        v-on:mouseover="updateLatestFileHovered(file)"
    >
        <div class="inner">
            <div class="graphic">
                <img :src="file.thumb.filemanager" alt="" @error="imageFailed(file)" v-if="file.type == 'image' && file.thumb.filemanager">
                <span v-else :class="'icon icon-'+ icon" :data-extension="file.extension"></span>
            </div>
            <span class="name">{{ file.filename }}</span>
        </div>
    </div>
</template>
<script>
import axios from 'axios';
import { mapActions } from 'vuex';
export default {
    name: 'Itembox',
    props: ['file'],
    components: {
    },
    data () {
        return {
        };
    },
    computed: {
        selected () {
            return this.isFileSelected(this.file);
        },
        icon () {
            return this.getFileIcon(this.file);
        },
    },
    methods: {
        toggleFileSelection (file) {
            //Deselect file if already selected
            if (this.isFileSelected(file)) {
                this.$store.dispatch('deselectFile', file);
                return;
            }

            //Select file if not selected
            this.$store.dispatch('selectFile', file);
        },
        updateLatestFileHovered (file) {
            this.$store.dispatch('updateLatestFileHovered', file);
        },
        imageFailed (file) {
            const self = this;
            axios.get(URL.filemanager.validateIndex + '/'+ file.id, {
            }).then((response) => {
                if (response.data == 0) {
                    self.$store.dispatch('removeFile', file);
                }
            });
        },
    },
}
</script>

<style lang="scss" scoped>
.itembox {
    transition: all 0.3s;
    text-align: center;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    border-radius: 5px;
    cursor: pointer;
    .inner {
        position: relative;
        padding: 5px;
    }
    .graphic {
        &:before,
        &:after {
            transition: all 0.3s;
            opacity: 0;
            visibility: hidden;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fff;
            z-index: 9;
        }
        &:after {
            content: '\f05d';
            font-family: FontAwesome;
            position: absolute;
            top: 3%;
            right: 6%;
            z-index: 10;
            font-size: 40px;
            color: orange;
            line-height: 1;
        }
    }
    .name {
        display: block;
        padding: 5px;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
        background: rgba(#fff, 0.8);
        font-size: 12px;
        font-weight: 600;
        border-top: 1px solid #eee;
        border-radius: 0 0 5px 5px;
    }
    &.directory {
        .fa {
            font-size: 40px;
            padding: 10px 0;
        }
    }
    &:hover {
        .graphic {
            &:before {
                visibility: visible;
                opacity: 0.3;
            }
        }
    }
    &.selected {
        .graphic {
            &:before {
                visibility: visible;
                opacity: 0.6;
            }
            &:after {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
</style>
