<template>
    <div id="filemanager-loader" :class="{visible: overlayIsVisible || loaderIsVisible}" v-on:click="hidePopup">
        <i :class="['fa fa-cog fa-spin loaderIcon', {visible: loaderIsVisible}]"></i>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    name: 'Loader',
    components: {
    },
    computed: {
        ...mapGetters([
            'overlayIsVisible',
            'loaderIsVisible',
        ]),
    },
    methods: {
        hidePopup () {
            this.$store.dispatch('hidePopup');
            this.$emit('onHidePopup');
        },
    },
}
</script>

<style lang="scss" scoped>
    #filemanager-loader {
        transition: all 0.3s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0;
        visibility: hidden;
        z-index: 100;
        .loaderIcon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 100px;
            color: #fff;
            opacity: 0;
            visibility: hidden;
            &.visible {
                opacity: 1;
                visibility: visible;
            }
        }
        &.visible {
            opacity: 0.8;
            visibility: visible;
        }
    }
</style>
