<template>
    <div id="filemanager-onFileDrag" :class="{visible: uploaderVisible}">
        <span class="closeDragDrop" v-on:click="$emit('hideDragDropView')"><i class="fa fa-times"></i> Stäng</span>
        <span class="title">Släpp filer för uppladdning</span>
        <ul class="uploadedFiles">
            <li v-for="(file, key) in uploadedFiles" :class="{uploading: !file.uploaded, uploaded: file.uploaded}">
                <div class="image">
                    <div class="graphic">
                        <img :src="file.base64" alt="" v-if="file.type == 'image' && file.base64 != null">
                        <span v-else :class="'icon icon-'+ (file.icon ? file.icon : file.extension)" :data-extension="file.extension"></span>
                    </div>
                    <small class="progressStatus">{{ file.progress }}%</small>
                </div>
                <ul class="info">
                    <li class="name">
                        <strong>Namn: </strong>
                        <span class="nameValue">
                            <span class="oldName" v-if="file.oldName != ''">{{ file.oldName }}</span>
                            <span class="actualName">{{ file.name }}</span>
                        </span>
                    </li>
                    <li class="size"><strong>Storlek: </strong>{{ prefixSize(file.size) }}</li>
                    <li class="type"><strong>Typ: </strong>{{ file.type }}</li>
                </ul>
                <div class="progressBar progress progress-sm">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" :style="{width: file.progress +'%'}"></div>
                </div>
                <i :class="['fa', 'fa-check-circle-o', 'uploadedIcon', {visible: file.uploaded}]"></i>
            </li>
        </ul>
    </div>
</template>

<script>
import _ from 'lodash';
import { mapGetters } from 'vuex';

export default {
    name: 'OnFileDrag',
    props: [],
    components: {
    },
    computed: {
        ...mapGetters([
            'uploadedFiles',
            'uploaderVisible',
        ]),
    },
    methods: {
    },
}
</script>

<style lang="scss" scoped>
    #filemanager-onFileDrag {
        transition: all 0.3s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75%;
        padding: 20px 40px;
        border: 5px dashed #fff;
        border-radius: 10px;
        text-align: center;
        color: #fff;
        z-index: 101;
        box-sizing: border-box;
        visibility: hidden;
        opacity: 0; 
        &.visible {
            visibility: visible;
            opacity: 1;
        }
    }
    .closeDragDrop {
        position: absolute;
        bottom: 100%;
        margin-bottom: 10px;
        right: 0;
        color: #fff;
        cursor: pointer;
    }
    .title  {
        transition: all 0.3s;
        display: block;
        font-size: 50px;
        margin-bottom: 20px;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    ul.uploadedFiles {
        max-height: 370px;
        overflow: auto;
        > li {
            position: relative;
            display: flex;
            padding: 25px 10px 10px 10px;
            margin-bottom: 10px;
            border: 1px solid #fff;
            background: #fff;
            color: #555;
            border: 5px solid #555;
            box-sizing: border-box;
            .image {
                margin-right: 20px;
            }
            .graphic {
                min-width: 70px;
                border: 1px solid #ccc;
            }
            .icon {
                font-size: 20px;
            }
        }
        ul {
            text-align: left;
            li {
                position: relative;
                display: block;
                padding: 1px 0;
            }
        }
        .nameValue {
            position: relative;
        }
        .oldName {
            position: absolute;
            bottom: 100%;
            left: 0;
            text-decoration: line-through;
            font-size: 0.7em;
        }
        .progressBar {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border-radius: 0;
        }
        .progressStatus {
            font-size: 10px;
        }
        .uploadedIcon {
            transition: all 0.3s;
            position: absolute;
            top: 50%;
            right: 3%;
            transform: translateY(-50%);
            font-size: 70px;
            color: #81c868;
            opacity: 0;
            &.visible {
                opacity: 1;
            }
        }
    }
</style>
