<template>
    <div id="filemanager-popup" :class="{
        open: popup != null,
    }">
        <a class="closeBtn" v-on:click="close()"><i class="fa fa-times"></i></a>
        <div class="popupContent">
            <component v-if="popup != null" :is="popup"></component>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import CreateDirectory from './PopupComponents/CreateDirectory.vue';
import EditDirectory from './PopupComponents/EditDirectory.vue';

export default {
    name: 'Popup',
    props: [],
    components: {
        CreateDirectory,
        EditDirectory,
    },
    data () {
        return {
        };
    },
    computed: {
        ...mapGetters([
            'popup',
        ]),
    },
    methods: {
        close () {
            this.$store.dispatch('hidePopup');
        },
    }
}
</script>

<style lang="scss" scoped>
    #filemanager-popup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
        box-sizing: border-box;
        border-radius: 5px;
        z-index: 101;
        padding: 30px 30px;
        min-width: 200px;
        min-height: 50px;
        visibility: hidden;
        opacity: 0;
        &.open {
            visibility: visible;
            opacity: 1;
        }
    }
    .closeBtn {
        transition: all 0.3s;
        position: absolute;
        top: 7px;
        right: 10px;
        color: #000;
        cursor: pointer;
        &:hover {
            opacity: 0.4;
        }
    }
</style>
