<template>
    <div class="previewFile" v-if="file != null">
        <div class="graphic">
            <img :src="file.thumb.filemanager" alt="" v-if="file.type == 'image' && file.thumb.filemanager">
            <span v-else :class="'icon icon-'+ file.icon" :data-extension="file.extension"></span>
        </div>
        <ul class="fileInfo">
            <li class="name">{{ file.filename }}</li>
            <li class="path">{{ file.path }}</li>
            <li class="type"><span>Typ</span><span>{{ file.type }}</span></li>
            <li class="mimetype"><span>Mime</span><span>{{ file.mimetype }}</span></li>
            <li class="size"><span>Storlek</span><span>{{ prefixSize(file.size) }}</span></li>
            <li class="width" v-if="file.width > 0"><span>Bredd</span><span>{{ file.width }}px</span></li>
            <li class="height" v-if="file.height > 0"><span>Höjd</span><span>{{ file.height }}px</span></li>
            <li class="hidden" v-if="file.hidden == 0">Dold</li>
            <li class="extra" v-if="file.extra">{{ file.extra }}</li>
            <li class="newTab"><a :href="file.thumb.full" target="_blank">Öppna i ny flik</a></li>
        </ul>

        <a href="#" class="text-danger" v-on:click.prevent="deleteFile(file)" v-if="isLocked">Ta bort</a>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    name: 'Preview',
    props: [],
    components: {
    },
    data () {
        return {};
    },
    computed: {
        ...mapGetters([
            'selectedFiles',
            'latestFileHovered',
        ]),
        isLocked () {
            return this.selectedFiles.length > 0;
        },
        file () {
            if (this.isLocked) {
                return this.selectedFiles[ this.selectedFiles.length - 1 ];
            }

            return this.latestFileHovered;
        },
        icon () {
            return this.getFileIcon(this.file);
        },
    },
    methods: {
        deleteFile(file) {
            if (!confirm('Vill du ta bort filen "' + file.filename + '"?')) {
                return false;
            }
            
            this.$store.dispatch('deleteFile', file);
        }
    },
};
</script>

<style lang="scss" scoped>
    .graphic {
        margin-bottom: 10px;
        border: 1px solid #eee;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    ul.fileInfo {
        list-style: none;
        padding: 0;
        li {
            *zoom: 1;
            &:before, &:after {
                content: " ";
                display: table;
            }
            &:after {
                clear: both;
            }
            &.name {
                font-weight: 600;
                word-wrap: break-word;
            }
            &.path {
                font-size: 10px;
                margin-bottom: 15px;
                word-wrap: break-word;
            }
            &.newTab {
                margin-top: 10px;
            }
            span {
                display: block;
                float: left;
                &:first-child {
                    width: 70px;
                    font-weight: 700;
                }
                &:nth-of-type(2) {
                    //float: right;
                }
            }
        }
    }
</style>
