<template>
    <div id="filemanager-search" class="column padding" :class="{visible: showDrop}" v-click-outside="closeDrop">
        <input type="search" class="searchField form-control" v-model="searchField" placeholder="Sök..." v-on:keyup="runFileSearch">
        <div class="searchSettingsIcon" title="Sökinställningar" v-on:click="toggleDrop">
            <i class="fa fa-cog"></i>
        </div>
        <div class="drop">
            <ul class="searchSettings">
                <li>
                    <label><input type="checkbox" class="searchInCurrentDirectory" v-model="searchInCurrentDirectory" :checked="searchInCurrentDirectory"> Sök i denna katalog</label>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Search',
    components: {
    },
    data () {
        return {
            showDrop: false,
            searchField: '',
            searchInCurrentDirectory: true,
        };
    },
    methods: {
        toggleDrop () {
            this.showDrop = !this.showDrop;
        },
        closeDrop () {
            this.showDrop = false;
        },
        runFileSearch: function() {
            var keywords = this.searchField.trim();
            if (keywords == '') {
                this.$store.commit('updateTemporaryFiles', null);
                return;
            }

            //Search in current directory
            if (this.searchInCurrentDirectory) {
                this.$store.dispatch('searchFilesLocally', keywords);
                return;
            }

            //Search everywhere
            this.$store.dispatch('searchFilesGlobally', keywords);
        },
    },
}
</script>

<style lang="scss" scoped>
    input[type="search"] {
        width: 100%;
        height: 30px;
        margin-top: 5px;
    }
    .searchSettingsIcon {
        margin-left: 7px;
        font-size: 0.8em;
    }
    ul.searchSettings {
        list-style: none;
        padding: 0;
        margin: 0;
        line-height: 1.5em;
        li {
            label {
                font-size: 12px;
                font-weight: 400;
                input {
                    margin-right: 5px;
                }
            }
        }
    }
</style>
