<template>
    <div class="column selectedFilesIcon" :class="{visible: showDrop}" v-click-outside="closeDrop">
        <div class="clickarea" :title="selectedFiles.length +' Valda filer'" v-on:click="toggleDrop">
            <i class="fa fa-files-o"></i>
            <span class="number">{{ selectedFiles.length }}</span>
        </div>
        <div class="drop">
            <div class="selectedFilesWrapper" v-if="selectedFiles.length > 0">
                <h5 class="title">Valda filer ({{ selectedFiles.length }})</h5>
                <ul class="selectedFiles">
                    <li v-for="(file, key) in selectedFiles" v-on:mouseover="updateLatestFileHovered(file)">
                        <i class="fa fa-times removeSelected" v-on:click="deselectFile(file)"></i> {{ file.name }}.{{ file.extension }}
                    </li>
                </ul>
                <span class="removeAllSelectedFiles" v-on:click="emptySelectedFiles()">
                    Avmarkera alla filer <i class="fa fa-trash"></i>
                </span>
            </div>
            <h5 v-else>Inga valda filer</h5>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'

export default {
    name: 'SelectedItems',
    props: [],
    data () {
        return {
            dropIsVisible: false,
        }
    },
    components: {
    },
    computed: {
        ...mapGetters([
            'selectedFiles',
        ]),
        showDrop () {
            return this.dropIsVisible;
        },
    },
    methods: {
        ...mapMutations([
            'emptySelectedFiles',
        ]),
        ...mapActions([
            'deselectFile',
        ]),
        toggleDrop () {
            this.dropIsVisible = !this.dropIsVisible;
        },
        closeDrop () {
            this.dropIsVisible = false;
        },
        updateLatestFileHovered (file) {
            this.$store.dispatch('updateLatestFileHovered', file);
        },
    },
}
</script>

<style lang="scss" scoped>
    ul.selectedFiles {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 12px;
        li {
            line-height: 2em;
            .fa {
                margin-right: 5px;
            }
        }
    }
    .removeAllSelectedFiles {
        transition: color 0.3s;
        display: block;
        font-size: 12px;
        cursor: pointer;
        border-top: 1px solid #eee;
        margin-top: 10px;
        .fa {
            margin-left: 5px;
        }
        &:hover {
            color: red;
        }
    }
</style>
