<template>
    <form id="filemanager-createDirectory" v-on:submit.prevent="save()">
        <p>Skapa katalog i <strong>{{ data.currentDirectory }}</strong></p>
        <div class="form-group">
            <input type="text" v-model="directoryName" class="form-control" ref="field">
            <button type="submit" class="btn btn-primary btn-block">Skapa katalog</button>
        </div>
    </form>
</template>

<script>
import axios from 'axios';
import { mapGetters, mapActions } from 'vuex'

export default {
    name: 'CreateDirectory',
    props: [],
    components: {
    },
    data () {
        return {
            directoryName: '',
        };
    },
    computed: {
        ...mapGetters({
            data: 'popupData',
        }),
    },
    methods: {
        save () {
            if (this.directoryName.trim() == '') {
                swal('Valideringsfel', 'Du måste fylla i ett katalognamn', 'error');
                return false;
            }
            let currentDirectory = this.data.currentDirectory;
            let newDirectoryName = this.directoryName;
            axios.post(URL.filemanager.directory, {
                target: currentDirectory,
                name: newDirectoryName,
            }).then(response => {
                this.$store.dispatch('updateDirectories');
                this.$store.dispatch('hidePopup');
                //Set the directory as the current one.
                this.$store.commit('updateDirectory', currentDirectory + '/' + newDirectoryName);
                this.$store.commit('updateFiles', []);
                swal('Klart', response.data, 'success');
            }).catch(error => {
                swal('Fel', error.response.data, 'error');
            });
        },
    },
    mounted () {
        //Focus the field on opening
        this.$refs.field.focus();
    }
}
</script>

<style lang="scss" scoped>

</style>
