<template>
    <form id="filemanager-editDirectory" v-on:submit.prevent="save()">
        <p>Redigera katalog <strong>{{ data.currentDirectory }}</strong></p>
        <div class="form-group">
            <input type="text" v-model="directoryName" class="form-control" ref="field">
            <button type="submit" class="btn btn-primary btn-block">Redigera katalog</button>
        </div>
        <div class="form-group">
            <a class="btn btn-md btn-danger btn-block" v-on:click="remove()">Ta bort katalog</a>
        </div>
    </form>
</template>

<script>
import axios from 'axios';
import { mapGetters, mapActions } from 'vuex'

export default {
    name: 'EditDirectory',
    props: [],
    components: {
    },
    data () {
        return {
            directoryName: '',
        };
    },
    computed: {
        ...mapGetters({
            data: 'popupData',
            directories: 'directories',
        }),
    },
    methods: {
        onSuccess (message, goToDirectory) {
            this.$store.dispatch('updateDirectories');
            this.$store.dispatch('hidePopup');
            this.$store.dispatch('fetchFiles', goToDirectory);
            //Set the directory as the current one.
            swal('Klart', message, 'success');
        },
        save () {
            let self = this;
            if (this.directoryName.trim() == '') {
                swal('Valideringsfel', 'Du måste fylla i ett katalognamn', 'error');
                return false;
            }
            let currentDirectory = this.data.currentDirectory;
            let parentDirectory = this.data.parentDirectory;
            let newDirectoryName = this.directoryName;
            axios.put(URL.filemanager.directory, {
                currentDirectory: currentDirectory,
                parentDirectory: parentDirectory,
                name: newDirectoryName,
            }).then(response => {
                self.onSuccess(response.data, parentDirectory + '/' + newDirectoryName)
            }).catch(error => {
                swal('Fel', error.response.data, 'error');
            });
        },
        remove () {
            let self = this;
            let target = this.data.currentDirectory;
            if (!confirm('Vill du verkligen ta bort "'+ target +'"?')) {
                return false;
            }
            
            axios.delete(URL.filemanager.directory, {
                data: {
                    target: target,
                }
            }).then(response => {
                self.onSuccess(response.data, this.directories[0].path)
            }).catch(error => {
                swal('Fel', error.response.data, 'error');
            });
        },
    },
    mounted () {
        //Focus the field on opening
        this.$refs.field.focus();
        this.directoryName = this.data.directoryName
    }
}
</script>

<style lang="scss" scoped>

</style>
