//https://codepen.io/kirkas/pen/otqyJ
//@include arrow($side, $align, $size, $color, $borderColor, $borderSize);
@mixin arrow_helper($arrowSize, $arrowColor, $margin, $side, $align) {
  @if $side == "top" {
    border-bottom-color: $arrowColor;
    top: -2 * $arrowSize;
  }
  @if $side == "bottom" {
    border-top-color: $arrowColor;
    bottom: -2 * $arrowSize;
  }
  @if $side == "left" {
    border-right-color: $arrowColor;
    left: -2 * $arrowSize;
  }
  @if $side == "right" {
    border-left-color: $arrowColor;
    right: -2 * $arrowSize;
  }
  @if $side == "right" or $side == "left" {
    @if $align == "center" {
      top: 50%;
      margin-top: -$arrowSize;
    }
    @else if $align == "top" {
      top: $margin;
    }
    @else if $align == "bottom" {
      bottom: $margin;
    }
  }
  @if $side == "bottom" or $side == "top" {
    @if $align == "center" {
      right: 50%;
      margin-right: -$arrowSize;
    }
    @else if $align == "left" {
      left: $margin;
    }
    @else if $align == "right" {
      right: $margin;
    }
  }
}

@mixin arrow($side: "right", $align: "center", $size: 20px, $color: #f6f6f6, $borderColor: "none", $borderSize: 3px) {
  $selector: "&:after, &:before";
  @if $borderColor == "none" {
    $selector: "&:after";
  }
  #{$selector} {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    visibility: visible;
    z-index: 2;
  }
  
  &:after {
    border-width: $size;
    @include arrow_helper($size, $color, $size, $side, $align);
  }
  
  @if $borderColor != "none" {
    &:before {
      border-width: $borderSize + $size;
      @include arrow_helper($size + $borderSize, $borderColor, $size - $borderSize, $side, $align);
    }
  }
}

@mixin dynamicFont($minFontSize: 10, $maxFontSize: 14, $minWidth: 320, $maxWidth: 1024, $useBothMinMax: true) {
  $fontSize: calc(#{$minFontSize}px + (#{$maxFontSize} - #{$minFontSize}) * (100vw - #{$minWidth}px) / (#{$maxWidth} - #{$minWidth}));
  @if $useBothMinMax == onlyMin {
    @media (min-width: #{$minWidth}px) {
      font-size: $fontSize;;
      @content
    }
  } @else if $useBothMinMax == onlyMax {
    @media (max-width: #{$maxWidth}px) {
      font-size: $fontSize;;
      @content
    }
  } @else {
    @media (min-width: #{$minWidth}px) and (max-width: #{$maxWidth}px) {
      font-size: $fontSize;;
      @content
    }
  }
}

@mixin link($onlyHover: false) {
    @if $onlyHover == false {
        color: $colorPrimary;
    }
    &:hover {
        color: $colorPrimary;
        text-decoration: underline;
    }
}

@mixin textTruncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin listReset {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
        margin: 0;
    }
}

@mixin verticalAlign($center: false) {
    position: absolute;
    top: 50%;
    @if $center {
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    } @else {
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}


@mixin resetSelect(){
    appearance: none;
    background: none;
    display: block;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
    width: 108%;
    outline: 0;
    &::-ms-expand {
        display: none;
    }
}

@mixin cf() {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin placeholder {
    ::-webkit-input-placeholder {@content}
    :-moz-placeholder           {@content}
    ::-moz-placeholder          {@content}
    :-ms-input-placeholder      {@content}
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
}

@mixin responsiveMin($width) {
    @media all and (min-width: $width) {
        @content
    }
}

@mixin responsive($width) {
    @media all and (max-width: $width) {
        @content
    }
}

@mixin equal-cols($cols: 3, $left: 0%, $bottom: 0, $lastCol: 0){
    @if $lastCol > 0 {&:nth-of-type(#{$lastCol}n + 1){margin-left: $left;}} //Set the left margin to the new value  }//If $last is greater than 0, reset the column to correct values
    float: left;
    margin-left: $left;
    margin-bottom: $bottom;
    width: ( 100% - ($left * ($cols - 1)) ) / $cols;
    &:nth-of-type(#{$cols}n + 1){margin-left: 0;} //Remove the left-margin on every columns that are at the most left.
}
