@import 'mixins';

$pageWidth: 940px;
$footerHeight: 420px;

$colorPrimary: #2f90a5;
$colorPrimaryOpp: #222;
$colorSecondary: #222;
$colorSecondaryOpp: $colorPrimary;
$colorTertiary: #ccc;
$colorTertiaryOpp: #ccc;
$colorBuyButton: $colorPrimary;
$colorBuyButtonOpp: $colorPrimaryOpp;
$colorBorder: #ccc;
$colorBorderOpp: $colorPrimary;
$colorRed: #c44545;
$colorGreen: #3d8f4d;

$fontPrimary: 'Open Sans', sans-serif;
$fontSecondary: 'Open Sans', sans-serif;

$borderRadius: 0;

$fontSize: 14px;
$fontColor: #2a2a2a;
$lineHeight: 1.4;

$formElementHeight: 35px;
