@import 'reset';
@import 'fontAwesome';
@import 'nouislider';
@import 'swal';
@import 'properties';
//@import 'gridle';

body {
    line-height: $lineHeight;
    font-size: $fontSize;
    color: $fontColor;
    font-family: $fontPrimary;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

* {
    font: inherit;
    line-height: inherit;
    color: inherit;
}

a {
    @include link();
}

hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1;
}

a {
    transition: all 0.3s;
    outline: 0;
    text-decoration: none;
}

strong {
    font-weight: 600;
}

i, em {
    font-style: italic;
}

.fa {
    font-size: inherit;
    line-height: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    * {
        color: $fontColor;
    }
}

h1 {
    font-size: 40px;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 25px;
}
h2 {
    font-size: 24px;
    font-style: italic;
    line-height: 1.25;
    margin-bottom: 15px;
}

h3 {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 15px;
}

h4 {
    font-size: 16px;
    line-height: 1.35;
    margin-bottom: 15px;
}

h5 {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

h6 {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.pointer {cursor: pointer}
.dib {display: inline-block}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="password"],
textarea,
.select,
select {
    box-sizing: border-box;
    transition: all 0.3s;
    appearance: none;
    height: $formElementHeight;
    padding: 0 15px;
    outline: 0;
    border: 1px solid $colorBorder;
    border-radius: $borderRadius;
    &:hover,
    &:focus,
    &:active {
        border-color: $colorBorderOpp;
    }
    @include placeholder() {
        color: #888;
    }
}

select {
    appearance: menuList;
    &:active,
    &:focus {
        color: $fontColor;
    }
}

textarea {
    height: 120px;
    padding: 15px;
}

.button,
a.button,
input[type="submit"],
button {
    transition: all 0.3s;
    box-sizing: border-box;
    appearance: none;
    background: $colorSecondary;
    display: inline-block;
    height: $formElementHeight;
    border-radius: $borderRadius;
    border: none;
    outline: 0;
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-weight: 700;
    padding: 0 20px;
    text-transform: uppercase;
    text-decoration: none !important;
    &:hover,
    &.active {
        background: $colorSecondaryOpp;
        color: #fff;
    }
    &.buyButton,
    &.buy-button {
        background: $colorBuyButton;
        &:hover {
            background: $colorBuyButtonOpp;
        }
    }
    &[disabled] {
        background: #999;
        cursor: not-allowed;
    }
}

a.button {
    line-height: $formElementHeight;
}

.select {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background: #fff;
    padding: 0;
    line-height: $formElementHeight;
    &:after {
        right: 15px;
    }
    &:after {
        display: block;
        position: absolute;
        top: 0;
        right: 12px;
        font-family: FontAwesome;
        content: '\f0d7';
        line-height: inherit;
        z-index: 0;
    }
    select {
        @include resetSelect();
        position: relative;
        height: 100%;
        z-index: 1;
        cursor: pointer;
        padding-right: 30px;
    }
}

.wrap {
    @include cf();
    margin: auto;
    max-width: $pageWidth;
}

.left {
    float: left;
}

.right {
    float: right;
}

.cf {
    @include cf();
}

.clear,
.clearFloat {
    clear: both;
}

.textLeft {text-align: left}
.textCenter {text-align: center}
.textRight {text-align: right}

.uppercase {text-transform: uppercase}

.w48 {width: 48%}
.w49 {width: 49%}
.w100 {width: 100%}

.primaryColor {color: $colorPrimary}
.secondaryColor {color: $colorSecondary}
.tertiaryColor {color: $colorTertiary}
.redColor {color: $colorRed}
.greenColor {color: $colorGreen}


@for $i from 1 through 20 {
    .m-t-#{$i * 5} {margin-top: #{$i * 5}px !important;}
    .m-r-#{$i * 5} {margin-right: #{$i * 5}px !important;}
    .m-b-#{$i * 5} {margin-bottom: #{$i * 5}px !important;}
    .m-l-#{$i * 5} {margin-left: #{$i * 5}px !important;}
}

#overlay {
    position: fixed;
    transition: all 0.2s;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    height: 100%;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    &.active {
        visibility: visible;
        opacity: 0.7;
    }
    .loaderIcon {
        @include verticalAlign(true);
        position: fixed;
        z-index: 1001;
        transition: all 0.3s;
        visibility: hidden;
        opacity: 0;
        font-size: 100px;
        color: #fff;
    }
    &.loading {
        .loaderIcon {
            visibility: visible;
            opacity: 1;
        }
    }
}

/* General styles */
.formLayout {
    p,
    div {
        position: relative;
        margin-bottom: 20px;
        &.cf,
        .select {
            margin-bottom: 0;
        }
        &.mandatory:after {
            content: '*';
            position: absolute;
            bottom: -2px;
            right: 15px;
            line-height: $formElementHeight;
        }
        label {
            display: block;
            margin-bottom: 3px;
            &.dib {
                display: inline-block;
            }
        }
        input[type="text"],
        input[type="password"],
        input[type="date"],
        input[type="tel"],
        input[type="email"],
        input[type="number"],
        select,
        textarea {
            width: 100%;
        }
        textarea {
            height: 100px;
        }
        &.radioWrapper {
            margin-bottom: 15px;
            > label {
                margin-bottom: 10px;
            }
            .inputs {
                label {
                    display: inline-block;
                }
                input {
                    width: auto;
                }
            }
            .onLeft {
                margin-right: 10px;
            }
            .onRight {
                margin-left: 10px;
            }
        }
        &.greyBox {
            position: relative;
            background: #f4f4f4;
            padding: 20px 20px 10px 20px;
            margin-top: 10px;
            label {
                margin-bottom: 15px;
            }
            input {
                display: block;
                margin-bottom: 10px;
            }
            .bottomRight {
                position: absolute;
                bottom: 20px;
                right: 20px;
            }
        }
    }
    &.smallForm {
        width: 100%;
        max-width: 460px;
        margin: auto;
        button {
            width: 100%;
            padding: 0;
        }
    }
}

.formError {
    color: $colorRed;
}

.easytabs {
    > ul {
        @include listReset();
        li {
            display: inline-block;
            a {
                display: block;
            }
        }
    }
    .tabContent {
        display: none;
    }
}

.sweet-alert {
    border-radius: $borderRadius;
    .sa-button-container {
        button {
            border-radius: $borderRadius !important;
            box-shadow: none !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            &.cancel {
                background: #999 !important;
                &:hover {
                    background: #aaa !important;
                }
            }
        }
        .sa-confirm-button-container {
            button {
                background: $colorBuyButton !important;
                &:hover {
                    background: $colorBuyButtonOpp !important;
                }
            }
        }
    }
}

/* Navigation skeleton */
ul.dropDown {
    &,
    ul {
        @include listReset()
    }
    position: relative;
    z-index: 99;
    > li {
        display: inline-block;
        a {
            display: block;
        }
        > ul {
            top: 100%;
            left: 0;
            li {
                line-height: 1;
                a {
                    cursor: pointer;
                }
            }
        }
    }
    li {
        transition: all 0.15s;
        ul {
            transition: all 0.15s;
            position: absolute;
            visibility: hidden;
            opacity: 0;
        }
        &:hover {
            > ul {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

ul.dropDown.bigDrop {
    > li {
        > ul {
            @include cf();
            box-sizing: border-box;
            width: 100%;
            ul {
                display: none !important;
            }
        }
    }
}

ul.dropDown.smallDrop {
    li {
        position: relative;
    }
    > li {
        > ul {
            min-width: 100%;
            li {
                display: block;
                white-space: nowrap;
                ul {
                    top: 0;
                    left: 90%;
                }
                &:hover {
                    > ul {
                        left: 100%;
                    }
                }
            }
        }
    }
}

ul.treeMenu {
    @include listReset();
    li {
        display: block;
        float: none;
        a {
            display: inline-block;
            height: auto;
            line-height: 1;
        }
        .fa {
            display: inline-block;
            margin-left: 5px;
            font-size: inherit;
            color: inherit;
            cursor: pointer;
            text-align: center;
            &:before {
                content: '\f0d7';
            }
        }
        a,
        .fa {
            padding: 10px 0;
        }
        &.active {
            > .fa:before {
                content: '\f0d8';
            }
        }
        ul {
            @include listReset();
            display: none;
            li {
                margin-left: 13px;
            }
        }
        &.open {
            > ul {
                display: block;
            }
        }
    }
}

.easytabs {
    > ul {
        @include listReset();
        li {
            display: inline-block;
            margin-right: 6px;
            a {
                position: relative;
                display: block;
                &:after {
                    transition: opacity 0.3s;
                    content: '';
                    top: 100%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(213, 9, 9, 0);
                    border-top-color: $colorPrimary;
                    border-width: 6px;
                    margin-left: -6px;
                    opacity: 0;
                }
            }
            &.active {
                a {
                    background: $colorPrimary;
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .tabContent {
        display: none;
        padding: 40px 0;
    }
}

.contentWrapper {
    padding-top: 80px;
    padding-bottom: 90px;
    box-sizing: border-box;
    p {
        margin-bottom: 15px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $colorSecondary;
    height: 80px;
    z-index: 100;
    a {display: block;}
    .logo {
        margin-top: 5px;
        float: left;
        img {
            display: block;
            height: 70px;
            //width: 300px;
        }
    }
    .mainMenu {
        @include cf();
        float: right;
        margin-top: 21px;
        > ul {
            float: left;
        }
        .buttons {
            float: left;
            margin-left: 20px;
            > div {
                position: relative;
            }
            &:hover {
                .pop {
                    opacity: 0.5;
                    visibility: visible;
                }
            }
            a {
                background: transparent;
                border: 1px solid #fff;
                &.pop {
                    position: absolute;
                    top: 5px;
                    left: 100%;
                    margin-left: 15px;
                    white-space: nowrap;
                    height: 25px;
                    line-height: 25px;
                    padding: 0;
                    border: none !important;
                    background: none !important;
                    font-size: 12px;
                    opacity: 0;
                    visibility: hidden;
                    .fa {
                        margin-left: 5px;
                    }
                    &:hover {
                        opacity: 1 !important;
                    }
                }
                &:hover {
                    background: $colorPrimary;
                }
            }
        }
    }
}

.footer {
    background-size: cover;
    padding: 60px 0;
    color: #fff;
    h4 {
        margin-bottom: 30px;
        font-size: 14px;
        text-transform: uppercase;
    }
    p {
        margin-bottom: 15px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    a {
        color: #fff;
        &:hover {
            @include link(true);
        }
    }
    a.button {
        border: 1px solid #fff;
        background: #000;
        &:hover {
            background: $colorPrimary;
            color: #fff;
        }
    }
}

ul.dropDown {
    &.smallDrop {
        > li {
            > a {
                color: #fff;
                padding: 10px 10px;
            }
            &:hover {
                > a {
                    color: $colorPrimary;
                    text-decoration: underline;
                }
            }
            $distance: 13px;
            &:before {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                height: $distance;
                width: 100%;
            }
            ul {
                box-sizing: border-box;
                background-color: #222;
                border: 1px solid #fff;
                padding: 5px 20px;
                left: -15px;
                margin-top: $distance;
                min-width: 220px;
                $size: 10px;
                $border: 2px;
                &:after,
                &:before {
                    bottom: 100%;
                    left: 50px;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }
                &:after {
                    border-color: rgba(34, 34, 34, 0);
                    border-bottom-color: #222;
                    border-width: $size;
                    margin-left: $size * -1;
                }
                &:before {
                    border-color: rgba(255, 255, 255, 0);
                    border-bottom-color: #fff;
                    border-width: $size + $border;
                    margin-left: ($size + $border) * -1;
                }
                li {
                    color: #fff;
                    a {
                        padding: 15px 0;
                    }
                    &:hover {
                        > a {
                            color: $colorPrimary;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

.breadcrumbs {
    background-size: cover;
    margin-bottom: 70px;
    ul {
        @include listReset();
        li {
            display: inline-block;
            &:after {
                content: '\f0da';
                font-family: FontAwesome;
                display: inline-block;
                padding: 20px 10px;
                color: #fff;
            }
            &:last-child {
                a {
                    text-decoration: underline;
                }
                &:after {
                    display: none;
                }
            }
            a {
                display: inline-block;
                color: #fff;
                padding: 20px 0;
            }
        }
    }
}

.httpErrorPage {
    text-align: center;
    .icon {
        font-size: 13vw;
        color: $colorPrimary;
    }
    h1 {
        font-size: 10vw;
    }
    h2 {
        font-size: 5vw;
    }
}

