@import 'properties';

@include responsive(1024px) {
    [canvas],[off-canvas*=push]{z-index:1}[off-canvas*=reveal],[off-canvas*=shift]{z-index:0}[canvas=container],[off-canvas],body,html{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}body,html{width:100%;height:100%;overflow:hidden}[canvas=container]{width:100%;height:100%;overflow-y:auto;position:relative;background-color:#fff;-webkit-overflow-scrolling:touch}[canvas=container]:after,[canvas=container]:before{clear:both;content:'';display:table}[off-canvas]{display:none;position:fixed;overflow:hidden;overflow-y:auto;background-color:#000;color:#fff;-webkit-overflow-scrolling:touch}[off-canvas*=top]{width:100%;height:255px;top:0}[off-canvas*=right]{width:255px;height:100%;top:0;right:0}[off-canvas*=bottom]{width:100%;height:255px;bottom:0}[off-canvas*=left]{width:255px;height:100%;top:0;left:0}[off-canvas*=overlay]{z-index:9999}[canvas],[off-canvas]{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0);-webkit-transition:-webkit-transform .3s;transition:transform .3s;-webkit-backface-visibility:hidden}[off-canvas*=shift][off-canvas*=top]{-webkit-transform:translate(0,50%);transform:translate(0,50%)}[off-canvas*=shift][off-canvas*=right]{-webkit-transform:translate(-50%,0);transform:translate(-50%,0)}[off-canvas*=shift][off-canvas*=bottom]{-webkit-transform:translate(0,-50%);transform:translate(0,-50%)}[off-canvas*=shift][off-canvas*=left]{-webkit-transform:translate(50%,0);transform:translate(50%,0)}@media print{[canvas]{-webkit-transform:translate(0,0)!important;-ms-transform:translate(0,0)!important;transform:translate(0,0)!important}[off-canvas]{display:none!important}}
}

$mobileNavHeight: 60px;
#mobileNav {
    @include cf();
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: $mobileNavHeight;
    width: 100%;
    background: #fff;
    z-index: 10;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: $colorBorder;
    }
    .menuIcon {
        @include verticalAlign();
        transition: opacity 0.6s, padding-top 0.4s;
        display: block;
        height: $mobileNavHeight;
        padding: 0 20px;
        cursor: pointer;
        text-align: center;
        box-sizing: border-box;
        padding-top: 20px;
        span {
            transition: all 0.4s;
            position: relative;
            border-radius: 10px;
            display: block;
            height: 3px;
            width: 30px;
            background: #333;
            margin-bottom: 6px;
            &.x3 {
                margin: 0;
            }
        }
        &.leftMenuIcon {
            left: 0;
        }
        &.rightMenuIcon {
            right: 0;
        }
    }
    .logo {
        @include verticalAlign(true);
        img {
            height: 50px;
        }
    }
    > .right {
        float: right;
        margin-right: 10px;
    }
    .icon {
        @include cf();
        float: left;
        width: 50px;
        height: $mobileNavHeight;
        line-height: $mobileNavHeight;
        font-size: 20px;
        text-align: center;
        &.mobileCart {
            .productCountWrapper {
                font-size: 70%;
            }
        }
    }
}

.slidebar {
    display: none;
    background: none;
    color: $fontColor;
    z-index: 1000;
    .innerWrapper {
        margin: 40px 30px;
        overflow-y: auto;
        padding: 1px;
    }
    ul.treeMenu {
        li {
            @include cf();
            a {
                width: calc(100% - 20px);
                float: left;
            }
            .fa {
                width: 20px;
                float: right;
                margin: 0;
            }
            ul {
                clear: both;
            }
        }
    }
    &.slidebarCart {
        height: calc(100% - 60px);
        .buttons {
            @include cf();
            a {
                display: block;
                min-width: 30%;
                &:first-child {
                    float: left;
                }
                &:last-child {
                    float: right;
                }
            }
        }
        ul.productsList {
            height: calc(100vh - 400px);
            overflow: auto;
        }
        .topButtons,
        .bottomButtons {
            margin: 20px 0;
            .button {
                display: block;
                &:first-child {
                    margin-bottom: 10px;
                }
            }
        }
        .topWrapper {
            margin-bottom: 40px;
            .price {
                font-size: 20px;
            }
        }
    }
}

.canvasContainer {
    .pageWrapper,
    .footer {
        transition: opacity 0.3s;
    }
}

html {
    &.slidebarsOpening,
    &.slidebarsOpened {
        .canvasContainer {
            overflow: hidden;
            .contentWrapper,
            .footer {
                overflow: hidden;
                opacity: 0.15;
            }
        }
        &.slidebarMenuOpened {
            #mobileNav {
                .menuIcon {
                    span {
                        margin: 0;
                        transform-origin: center;
                        width: 35px;
                        &.x1 {
                            transform: rotate(-40deg);
                            bottom: -9px;
                        }
                        &.x2 {
                            opacity: 0;
                        }
                        &.x3 {
                            transform: rotate(40deg);
                            bottom: -3px;
                        }
                        &.ring {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    &.slidebarCartOpened {
        #mobileNav {
            border-top: 1px solid #e1e1e1;
        }
        .openSlidebarCart {
            color: $colorPrimary;
        }
    }
}

@include responsive(1024px) {
    #mobileNav {
        display: block;
    }
    .header {
        height: $mobileNavHeight;
        background: none;
        * {
            display: none !important;
        }
    }
}
