@mixin cf() {
    *zoom: 1;
    &:before, &:after {content: " "; display: table;}
    &:after {clear: both;}
}
.tab-pane .viewButtons {
    margin-top: 30px;
}
.viewButtons {
    margin-bottom: 10px;
}
.collectionWrapper {
    position: relative;
    margin-bottom: 0;
    margin-top: 20px;
    .form-group {
        transition: all 0.3s;
        margin-left: 0;
        margin-right: 0;
        &.col-lg-12 {
            float: none;
        }
    }
    .collectionTitle {
        margin-bottom: 10px;
    }
    .toggleCollection {
        position: absolute;
        top: 40px;
        right: 40px;
        .hideFields {
            display: none;
        }
        &.open {
            .hideFields {display: block;}
            .showFields {display: none;}
        }
    }
    .collectionDescription {
        margin-bottom: 20px;
    }
    .collectionFields {
        padding: 20px 10px;
    }
    .repeater {
        border-radius: 5px;
        position: relative;
        background: #fff;
        .repeaterTitle {
            transition: all 0.3s;
            margin-bottom: 20px;
            min-height: 20px;
        }
        .newRepeaterGroup {
            transition: all 0.3s;
            position: absolute;
            top: 20px;
            right: 20px;
            background: #36404a !important;
            border-color: #36404a !important;
            &.bottom {
                display: none;
                top: initial;
                bottom: 10px;
            }
        }
        &.hasRepetitions {
            > .repeaterWrapper > .newRepeaterGroup.bottom {
                display: block;
            }
        }
        .repeaterGroups {
            @include cf();
        }
        .repeaterGroup {
            position: relative;
            transition: all 0.5s;
            padding: 10px 0;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid #ccc;
            .removeRepeaterGroup {
                transition: all 0.3s;
                position: absolute;
                top: 5px;
                right: 10px;
                z-index: 3;
            }
            .handle {
                position: absolute;
                top: 0;
                left: 0;
                width: calc(100% - 70px);
                height: 25px;
                z-index: 21;
                cursor: move;
            }
            .fields {
                @include cf();
                position: relative;
                z-index: 2;
            }
            .iterationNumber {
                position: absolute;
                left: -9px;
                top: 50%;
                font-size: 12px;
                font-weight: 600;
                width: 20px;
                text-align: center;
                transform: translateY(-50%);
            }
            &:before {
                transition: all 0.5s;
                content: '';
                position: absolute;
                top: 15%;
                left: 0px;
                width: 1px;
                height: 70%;
                background: #e1e1e1;
            }
        }
    }
    .languageBox {
        position: relative;
        .customfieldsFieldWrapper {
            position: relative;
            .fieldFlag {
                position: absolute;
                right: 20px;
                top: 50%;
                margin-top: -6px;
            }
            &.customfieldsFieldWrapper-Wysiwyg {
                &:before,
                &:after {
                    transition: all 0.3s;
                    content: '';
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    width: 100%;
                    left: 0;
                    top: 0;
                }
                &:before {
                    height: 100%;
                    background: #000;
                }
                &:after {
                    top: 50%;
                    transform: translateY(-50%);
                    text-align: center;
                    color: #fff;
                    font-size: 18px;
                    content: 'Aktivera redigering';
                }
                &.inActive {
                    cursor: pointer;
                    &:before,
                    &:after {
                        opacity: 1;
                        visibility: visible;
                    }
                    &:before {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
    .repeaterWrapper {
        background: #ebeff2;
        border: 1px solid #eee;
        .repeaterWrapper {
            background: #fff;
            .repeaterWrapper {
                background: #ebeff2;
                .repeaterWrapper {
                    background: #fff;
                    .repeaterWrapper {
                        background: #ebeff2;
                        .repeaterWrapper {
                            background: #fff;
                            .repeaterWrapper {
                                background: #ebeff2;
                                .repeaterWrapper {
                                    background: #fff;
                                    .repeaterWrapper {
                                        background: #ebeff2;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.customfieldsWrapper {
    &[data-view="small"] {
        .collectionWrapper {
            .form-group {
                margin-bottom: 5px;
                font-size: 10px;
                &.card-box {
                    padding: 10px;
                }
                label {
                    font-weight: 400;
                    margin-bottom: 0;
                    font-size: 12px;
                }
                .form-control {
                    height: 30px;
                    padding-top: 0;
                    padding-bottom: 0;
                    font-size: 14px;
                }
                textarea.form-control {
                    min-height: 40px;
                }
            }
            .repeater {
                .newRepeaterGroup {
                    top: 0;
                    right: 0;
                    padding: 2px 5px;
                }
                .repeaterTitle {
                    margin-bottom: 0;
                    font-size: 14px;
                }
            }
        }
    }
}

.categoryPicker,
.productPicker {
    max-height: 300px;
    overflow: auto;
}

.customfieldsFieldWrapper {
    position: relative;
    .imagePreview {
        display: block;
        transition: all 0.5s;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        right: 50px;
        top: 50%;
        margin-top: -50px;
        background-size: cover;
        width: 100px;
        height: 100px;
        z-index: 30;
        border: 1px solid #ccc;
        box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
    }
    &:hover,
    &.hover {
        .imagePreview.hasImage {
            visibility: visible;
            opacity: 1;
        }
    }
}

.clearfix {
    clear: both;
}
