@mixin cf() {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.noFloat {
    float: none;
}

.dd-list .btn {
    width: auto;
    height: auto;
    padding: 10px;
    line-height: 1;
}

.sortable .ui-state-highlight {height: 40px;}

#fieldHandler {
    ol {
        li {
            margin-bottom: 10px;
            .dd3-handle {
                background: none;
                margin: 10px 0 0 10px;
                &:before {
                    font-size: 20px;
                }
            }
            .dd3-content {
                transition: border 0.5s;
                background: #f9f9f9;
                border: 2px dashed #eee;
                border-radius: 5px;
                padding: 50px 10px 20px 10px;
                > .toggleDrop {
                    margin-top: 5px;
                }
                &:hover {
                    border-color: #aaa;
                }
            }
            .topRow {
                position: relative;
                padding-right: 160px;
                label {
                    margin-bottom: 0;
                }
                .fieldControl {
                    position: absolute;
                    top: 0;
                    right: 0;
                    a {
                        text-align: center;
                        &.toggleButton {
                            padding: 0 10px;
                            font-size: 25px;
                        }
                    }
                }
            }
            label {
                position: relative;
                display: block;
                color: #979899;
                font-weight: 400;
                .fieldLabel {
                    display: block;
                    position: absolute;
                    top: 1px;
                    right: 30px;
                    height: 36px;
                    line-height: 36px;
                    padding: 0 5px 0 10px;
                    font-size: 10px;
                    text-align: right;
                }
                &:hover {
                    color: #5fbeaa;
                }
            }
            h1,h2,h3,h4,h5,h6 {
                position: relative;
                margin: 10px 0;
                .toggleIcon {
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: 20px;
                    cursor: pointer;
                }
            }
        }
        .addDataButton {
            margin: 0 0 10px 0;
        }
        .dataRows,
        .settingsRows {
            .dataRow,
            .settingRow {
                @include cf();
            }
        }
    }
     .repeaterWrapper {
        background: #eef2f6;
        margin: 15px 0;
        padding: 15px;
        border-radius: 5px 5px 0 0;
        border: 1px solid #ddd;
        .dd3-content {
            background: #fff;
        }
        .repeaterOl {
            padding: 0;
        }
    }
}
