.footer {
    line-height: 34px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.card-box.breadcrumbs {
    padding-top: 10px;
    padding-bottom: 10px;
}

.breadcrumbs .fa {
    padding: 0 5px;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    line-height: 30px;
}

.sortableList .icons {
    font-size: 20px;
}
.sortableList .icons .removeIcon {
    color: red;
    margin-left: 20px;
}

#ajaxLoader {
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
    background: rgba(0,0,0,0.3);
    z-index: 1050;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#ajaxLoader .fa {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #000;
    z-index: 1051;
}
#ajaxLoader.loading {
    visibility: visible;
    opacity: 1;
}

.nav.nav-tabs + .tab-content {
    padding: 30px 20px;
}

.form-group {
    position: relative;
}

.fieldSettings {
    position: absolute;
    right: 15px;
    top: 9px;
    cursor: pointer;
}
