@font-face {
  font-family: 'simple-line-icons';
  src: url('../fonts/Simple-Line-Icons.eot?-i3a2kk');
  src: url('../fonts/Simple-Line-Icons.eot?#iefix-i3a2kk') format('embedded-opentype'), url('../fonts/Simple-Line-Icons.ttf?-i3a2kk') format('truetype'), url('../fonts/Simple-Line-Icons.woff2?-i3a2kk') format('woff2'), url('../fonts/Simple-Line-Icons.woff?-i3a2kk') format('woff'), url('../fonts/Simple-Line-Icons.svg?-i3a2kk#simple-line-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
 Use the following CSS code if you want to have a class per icon.
 Instead of a list of all class selectors, you can use the generic [class*="icon-"] selector, but it's slower: 
*/
.icon-user,
.icon-people,
.icon-user-female,
.icon-user-follow,
.icon-user-following,
.icon-user-unfollow,
.icon-login,
.icon-logout,
.icon-emotsmile,
.icon-phone,
.icon-call-end,
.icon-call-in,
.icon-call-out,
.icon-map,
.icon-location-pin,
.icon-direction,
.icon-directions,
.icon-compass,
.icon-layers,
.icon-menu,
.icon-list,
.icon-options-vertical,
.icon-options,
.icon-arrow-down,
.icon-arrow-left,
.icon-arrow-right,
.icon-arrow-up,
.icon-arrow-up-circle,
.icon-arrow-left-circle,
.icon-arrow-right-circle,
.icon-arrow-down-circle,
.icon-check,
.icon-clock,
.icon-plus,
.icon-close,
.icon-trophy,
.icon-screen-smartphone,
.icon-screen-desktop,
.icon-plane,
.icon-notebook,
.icon-mustache,
.icon-mouse,
.icon-magnet,
.icon-energy,
.icon-disc,
.icon-cursor,
.icon-cursor-move,
.icon-crop,
.icon-chemistry,
.icon-speedometer,
.icon-shield,
.icon-screen-tablet,
.icon-magic-wand,
.icon-hourglass,
.icon-graduation,
.icon-ghost,
.icon-game-controller,
.icon-fire,
.icon-eyeglass,
.icon-envelope-open,
.icon-envelope-letter,
.icon-bell,
.icon-badge,
.icon-anchor,
.icon-wallet,
.icon-vector,
.icon-speech,
.icon-puzzle,
.icon-printer,
.icon-present,
.icon-playlist,
.icon-pin,
.icon-picture,
.icon-handbag,
.icon-globe-alt,
.icon-globe,
.icon-folder-alt,
.icon-folder,
.icon-film,
.icon-feed,
.icon-drop,
.icon-drawar,
.icon-docs,
.icon-doc,
.icon-diamond,
.icon-cup,
.icon-calculator,
.icon-bubbles,
.icon-briefcase,
.icon-book-open,
.icon-basket-loaded,
.icon-basket,
.icon-bag,
.icon-action-undo,
.icon-action-redo,
.icon-wrench,
.icon-umbrella,
.icon-trash,
.icon-tag,
.icon-support,
.icon-frame,
.icon-size-fullscreen,
.icon-size-actual,
.icon-shuffle,
.icon-share-alt,
.icon-share,
.icon-rocket,
.icon-question,
.icon-pie-chart,
.icon-pencil,
.icon-note,
.icon-loop,
.icon-home,
.icon-grid,
.icon-graph,
.icon-microphone,
.icon-music-tone-alt,
.icon-music-tone,
.icon-earphones-alt,
.icon-earphones,
.icon-equalizer,
.icon-like,
.icon-dislike,
.icon-control-start,
.icon-control-rewind,
.icon-control-play,
.icon-control-pause,
.icon-control-forward,
.icon-control-end,
.icon-volume-1,
.icon-volume-2,
.icon-volume-off,
.icon-calender,
.icon-bulb,
.icon-chart,
.icon-ban,
.icon-bubble,
.icon-camrecorder,
.icon-camera,
.icon-cloud-download,
.icon-cloud-upload,
.icon-envelope,
.icon-eye,
.icon-flag,
.icon-heart,
.icon-info,
.icon-key,
.icon-link,
.icon-lock,
.icon-lock-open,
.icon-magnifier,
.icon-magnifier-add,
.icon-magnifier-remove,
.icon-paper-clip,
.icon-paper-plane,
.icon-power,
.icon-refresh,
.icon-reload,
.icon-settings,
.icon-star,
.icon-symble-female,
.icon-symbol-male,
.icon-target,
.icon-credit-card,
.icon-paypal,
.icon-social-tumblr,
.icon-social-twitter,
.icon-social-facebook,
.icon-social-instagram,
.icon-social-linkedin,
.icon-social-pintarest,
.icon-social-github,
.icon-social-gplus,
.icon-social-reddit,
.icon-social-skype,
.icon-social-dribbble,
.icon-social-behance,
.icon-social-foursqare,
.icon-social-soundcloud,
.icon-social-spotify,
.icon-social-stumbleupon,
.icon-social-youtube,
.icon-social-dropbox {
  font-family: 'simple-line-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-user:before {
  content: "\e005";
}
.icon-people:before {
  content: "\e001";
}
.icon-user-female:before {
  content: "\e000";
}
.icon-user-follow:before {
  content: "\e002";
}
.icon-user-following:before {
  content: "\e003";
}
.icon-user-unfollow:before {
  content: "\e004";
}
.icon-login:before {
  content: "\e066";
}
.icon-logout:before {
  content: "\e065";
}
.icon-emotsmile:before {
  content: "\e021";
}
.icon-phone:before {
  content: "\e600";
}
.icon-call-end:before {
  content: "\e048";
}
.icon-call-in:before {
  content: "\e047";
}
.icon-call-out:before {
  content: "\e046";
}
.icon-map:before {
  content: "\e033";
}
.icon-location-pin:before {
  content: "\e096";
}
.icon-direction:before {
  content: "\e042";
}
.icon-directions:before {
  content: "\e041";
}
.icon-compass:before {
  content: "\e045";
}
.icon-layers:before {
  content: "\e034";
}
.icon-menu:before {
  content: "\e601";
}
.icon-list:before {
  content: "\e067";
}
.icon-options-vertical:before {
  content: "\e602";
}
.icon-options:before {
  content: "\e603";
}
.icon-arrow-down:before {
  content: "\e604";
}
.icon-arrow-left:before {
  content: "\e605";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-up:before {
  content: "\e607";
}
.icon-arrow-up-circle:before {
  content: "\e078";
}
.icon-arrow-left-circle:before {
  content: "\e07a";
}
.icon-arrow-right-circle:before {
  content: "\e079";
}
.icon-arrow-down-circle:before {
  content: "\e07b";
}
.icon-check:before {
  content: "\e080";
}
.icon-clock:before {
  content: "\e081";
}
.icon-plus:before {
  content: "\e095";
}
.icon-close:before {
  content: "\e082";
}
.icon-trophy:before {
  content: "\e006";
}
.icon-screen-smartphone:before {
  content: "\e010";
}
.icon-screen-desktop:before {
  content: "\e011";
}
.icon-plane:before {
  content: "\e012";
}
.icon-notebook:before {
  content: "\e013";
}
.icon-mustache:before {
  content: "\e014";
}
.icon-mouse:before {
  content: "\e015";
}
.icon-magnet:before {
  content: "\e016";
}
.icon-energy:before {
  content: "\e020";
}
.icon-disc:before {
  content: "\e022";
}
.icon-cursor:before {
  content: "\e06e";
}
.icon-cursor-move:before {
  content: "\e023";
}
.icon-crop:before {
  content: "\e024";
}
.icon-chemistry:before {
  content: "\e026";
}
.icon-speedometer:before {
  content: "\e007";
}
.icon-shield:before {
  content: "\e00e";
}
.icon-screen-tablet:before {
  content: "\e00f";
}
.icon-magic-wand:before {
  content: "\e017";
}
.icon-hourglass:before {
  content: "\e018";
}
.icon-graduation:before {
  content: "\e019";
}
.icon-ghost:before {
  content: "\e01a";
}
.icon-game-controller:before {
  content: "\e01b";
}
.icon-fire:before {
  content: "\e01c";
}
.icon-eyeglass:before {
  content: "\e01d";
}
.icon-envelope-open:before {
  content: "\e01e";
}
.icon-envelope-letter:before {
  content: "\e01f";
}
.icon-bell:before {
  content: "\e027";
}
.icon-badge:before {
  content: "\e028";
}
.icon-anchor:before {
  content: "\e029";
}
.icon-wallet:before {
  content: "\e02a";
}
.icon-vector:before {
  content: "\e02b";
}
.icon-speech:before {
  content: "\e02c";
}
.icon-puzzle:before {
  content: "\e02d";
}
.icon-printer:before {
  content: "\e02e";
}
.icon-present:before {
  content: "\e02f";
}
.icon-playlist:before {
  content: "\e030";
}
.icon-pin:before {
  content: "\e031";
}
.icon-picture:before {
  content: "\e032";
}
.icon-handbag:before {
  content: "\e035";
}
.icon-globe-alt:before {
  content: "\e036";
}
.icon-globe:before {
  content: "\e037";
}
.icon-folder-alt:before {
  content: "\e039";
}
.icon-folder:before {
  content: "\e089";
}
.icon-film:before {
  content: "\e03a";
}
.icon-feed:before {
  content: "\e03b";
}
.icon-drop:before {
  content: "\e03e";
}
.icon-drawar:before {
  content: "\e03f";
}
.icon-docs:before {
  content: "\e040";
}
.icon-doc:before {
  content: "\e085";
}
.icon-diamond:before {
  content: "\e043";
}
.icon-cup:before {
  content: "\e044";
}
.icon-calculator:before {
  content: "\e049";
}
.icon-bubbles:before {
  content: "\e04a";
}
.icon-briefcase:before {
  content: "\e04b";
}
.icon-book-open:before {
  content: "\e04c";
}
.icon-basket-loaded:before {
  content: "\e04d";
}
.icon-basket:before {
  content: "\e04e";
}
.icon-bag:before {
  content: "\e04f";
}
.icon-action-undo:before {
  content: "\e050";
}
.icon-action-redo:before {
  content: "\e051";
}
.icon-wrench:before {
  content: "\e052";
}
.icon-umbrella:before {
  content: "\e053";
}
.icon-trash:before {
  content: "\e054";
}
.icon-tag:before {
  content: "\e055";
}
.icon-support:before {
  content: "\e056";
}
.icon-frame:before {
  content: "\e038";
}
.icon-size-fullscreen:before {
  content: "\e057";
}
.icon-size-actual:before {
  content: "\e058";
}
.icon-shuffle:before {
  content: "\e059";
}
.icon-share-alt:before {
  content: "\e05a";
}
.icon-share:before {
  content: "\e05b";
}
.icon-rocket:before {
  content: "\e05c";
}
.icon-question:before {
  content: "\e05d";
}
.icon-pie-chart:before {
  content: "\e05e";
}
.icon-pencil:before {
  content: "\e05f";
}
.icon-note:before {
  content: "\e060";
}
.icon-loop:before {
  content: "\e064";
}
.icon-home:before {
  content: "\e069";
}
.icon-grid:before {
  content: "\e06a";
}
.icon-graph:before {
  content: "\e06b";
}
.icon-microphone:before {
  content: "\e063";
}
.icon-music-tone-alt:before {
  content: "\e061";
}
.icon-music-tone:before {
  content: "\e062";
}
.icon-earphones-alt:before {
  content: "\e03c";
}
.icon-earphones:before {
  content: "\e03d";
}
.icon-equalizer:before {
  content: "\e06c";
}
.icon-like:before {
  content: "\e068";
}
.icon-dislike:before {
  content: "\e06d";
}
.icon-control-start:before {
  content: "\e06f";
}
.icon-control-rewind:before {
  content: "\e070";
}
.icon-control-play:before {
  content: "\e071";
}
.icon-control-pause:before {
  content: "\e072";
}
.icon-control-forward:before {
  content: "\e073";
}
.icon-control-end:before {
  content: "\e074";
}
.icon-volume-1:before {
  content: "\e09f";
}
.icon-volume-2:before {
  content: "\e0a0";
}
.icon-volume-off:before {
  content: "\e0a1";
}
.icon-calender:before {
  content: "\e075";
}
.icon-bulb:before {
  content: "\e076";
}
.icon-chart:before {
  content: "\e077";
}
.icon-ban:before {
  content: "\e07c";
}
.icon-bubble:before {
  content: "\e07d";
}
.icon-camrecorder:before {
  content: "\e07e";
}
.icon-camera:before {
  content: "\e07f";
}
.icon-cloud-download:before {
  content: "\e083";
}
.icon-cloud-upload:before {
  content: "\e084";
}
.icon-envelope:before {
  content: "\e086";
}
.icon-eye:before {
  content: "\e087";
}
.icon-flag:before {
  content: "\e088";
}
.icon-heart:before {
  content: "\e08a";
}
.icon-info:before {
  content: "\e08b";
}
.icon-key:before {
  content: "\e08c";
}
.icon-link:before {
  content: "\e08d";
}
.icon-lock:before {
  content: "\e08e";
}
.icon-lock-open:before {
  content: "\e08f";
}
.icon-magnifier:before {
  content: "\e090";
}
.icon-magnifier-add:before {
  content: "\e091";
}
.icon-magnifier-remove:before {
  content: "\e092";
}
.icon-paper-clip:before {
  content: "\e093";
}
.icon-paper-plane:before {
  content: "\e094";
}
.icon-power:before {
  content: "\e097";
}
.icon-refresh:before {
  content: "\e098";
}
.icon-reload:before {
  content: "\e099";
}
.icon-settings:before {
  content: "\e09a";
}
.icon-star:before {
  content: "\e09b";
}
.icon-symble-female:before {
  content: "\e09c";
}
.icon-symbol-male:before {
  content: "\e09d";
}
.icon-target:before {
  content: "\e09e";
}
.icon-credit-card:before {
  content: "\e025";
}
.icon-paypal:before {
  content: "\e608";
}
.icon-social-tumblr:before {
  content: "\e00a";
}
.icon-social-twitter:before {
  content: "\e009";
}
.icon-social-facebook:before {
  content: "\e00b";
}
.icon-social-instagram:before {
  content: "\e609";
}
.icon-social-linkedin:before {
  content: "\e60a";
}
.icon-social-pintarest:before {
  content: "\e60b";
}
.icon-social-github:before {
  content: "\e60c";
}
.icon-social-gplus:before {
  content: "\e60d";
}
.icon-social-reddit:before {
  content: "\e60e";
}
.icon-social-skype:before {
  content: "\e60f";
}
.icon-social-dribbble:before {
  content: "\e00d";
}
.icon-social-behance:before {
  content: "\e610";
}
.icon-social-foursqare:before {
  content: "\e611";
}
.icon-social-soundcloud:before {
  content: "\e612";
}
.icon-social-spotify:before {
  content: "\e613";
}
.icon-social-stumbleupon:before {
  content: "\e614";
}
.icon-social-youtube:before {
  content: "\e008";
}
.icon-social-dropbox:before {
  content: "\e00c";
}
/*!
Ionicons, v1.5.0
Created by Ben Sperry for the Ionic Framework, http://ionicons.com/
https://twitter.com/benjsperry  https://twitter.com/ionicframework
MIT License: https://github.com/driftyco/ionicons
*/
@font-face {
  font-family: "Ionicons";
  src: url("../fonts/ionicons.eot?v=1.5.0");
  src: url("../fonts/ionicons.eot?v=1.5.0#iefix") format("embedded-opentype"), url("../fonts/ionicons.ttf?v=1.5.0") format("truetype"), url("../fonts/ionicons.woff?v=1.5.0") format("woff"), url("../fonts/ionicons.svg?v=1.5.0#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}
.ion,
.ion-loading-a,
.ion-loading-b,
.ion-loading-c,
.ion-loading-d,
.ion-looping,
.ion-refreshing,
.ion-ios7-reloading,
.ionicons,
.ion-alert,
.ion-alert-circled,
.ion-android-add,
.ion-android-add-contact,
.ion-android-alarm,
.ion-android-archive,
.ion-android-arrow-back,
.ion-android-arrow-down-left,
.ion-android-arrow-down-right,
.ion-android-arrow-forward,
.ion-android-arrow-up-left,
.ion-android-arrow-up-right,
.ion-android-battery,
.ion-android-book,
.ion-android-calendar,
.ion-android-call,
.ion-android-camera,
.ion-android-chat,
.ion-android-checkmark,
.ion-android-clock,
.ion-android-close,
.ion-android-contact,
.ion-android-contacts,
.ion-android-data,
.ion-android-developer,
.ion-android-display,
.ion-android-download,
.ion-android-drawer,
.ion-android-dropdown,
.ion-android-earth,
.ion-android-folder,
.ion-android-forums,
.ion-android-friends,
.ion-android-hand,
.ion-android-image,
.ion-android-inbox,
.ion-android-information,
.ion-android-keypad,
.ion-android-lightbulb,
.ion-android-locate,
.ion-android-location,
.ion-android-mail,
.ion-android-microphone,
.ion-android-mixer,
.ion-android-more,
.ion-android-note,
.ion-android-playstore,
.ion-android-printer,
.ion-android-promotion,
.ion-android-reminder,
.ion-android-remove,
.ion-android-search,
.ion-android-send,
.ion-android-settings,
.ion-android-share,
.ion-android-social,
.ion-android-social-user,
.ion-android-sort,
.ion-android-stair-drawer,
.ion-android-star,
.ion-android-stopwatch,
.ion-android-storage,
.ion-android-system-back,
.ion-android-system-home,
.ion-android-system-windows,
.ion-android-timer,
.ion-android-trash,
.ion-android-user-menu,
.ion-android-volume,
.ion-android-wifi,
.ion-aperture,
.ion-archive,
.ion-arrow-down-a,
.ion-arrow-down-b,
.ion-arrow-down-c,
.ion-arrow-expand,
.ion-arrow-graph-down-left,
.ion-arrow-graph-down-right,
.ion-arrow-graph-up-left,
.ion-arrow-graph-up-right,
.ion-arrow-left-a,
.ion-arrow-left-b,
.ion-arrow-left-c,
.ion-arrow-move,
.ion-arrow-resize,
.ion-arrow-return-left,
.ion-arrow-return-right,
.ion-arrow-right-a,
.ion-arrow-right-b,
.ion-arrow-right-c,
.ion-arrow-shrink,
.ion-arrow-swap,
.ion-arrow-up-a,
.ion-arrow-up-b,
.ion-arrow-up-c,
.ion-asterisk,
.ion-at,
.ion-bag,
.ion-battery-charging,
.ion-battery-empty,
.ion-battery-full,
.ion-battery-half,
.ion-battery-low,
.ion-beaker,
.ion-beer,
.ion-bluetooth,
.ion-bonfire,
.ion-bookmark,
.ion-briefcase,
.ion-bug,
.ion-calculator,
.ion-calendar,
.ion-camera,
.ion-card,
.ion-cash,
.ion-chatbox,
.ion-chatbox-working,
.ion-chatboxes,
.ion-chatbubble,
.ion-chatbubble-working,
.ion-chatbubbles,
.ion-checkmark,
.ion-checkmark-circled,
.ion-checkmark-round,
.ion-chevron-down,
.ion-chevron-left,
.ion-chevron-right,
.ion-chevron-up,
.ion-clipboard,
.ion-clock,
.ion-close,
.ion-close-circled,
.ion-close-round,
.ion-closed-captioning,
.ion-cloud,
.ion-code,
.ion-code-download,
.ion-code-working,
.ion-coffee,
.ion-compass,
.ion-compose,
.ion-connection-bars,
.ion-contrast,
.ion-cube,
.ion-disc,
.ion-document,
.ion-document-text,
.ion-drag,
.ion-earth,
.ion-edit,
.ion-egg,
.ion-eject,
.ion-email,
.ion-eye,
.ion-eye-disabled,
.ion-female,
.ion-filing,
.ion-film-marker,
.ion-fireball,
.ion-flag,
.ion-flame,
.ion-flash,
.ion-flash-off,
.ion-flask,
.ion-folder,
.ion-fork,
.ion-fork-repo,
.ion-forward,
.ion-funnel,
.ion-game-controller-a,
.ion-game-controller-b,
.ion-gear-a,
.ion-gear-b,
.ion-grid,
.ion-hammer,
.ion-happy,
.ion-headphone,
.ion-heart,
.ion-heart-broken,
.ion-help,
.ion-help-buoy,
.ion-help-circled,
.ion-home,
.ion-icecream,
.ion-icon-social-google-plus,
.ion-icon-social-google-plus-outline,
.ion-image,
.ion-images,
.ion-information,
.ion-information-circled,
.ion-ionic,
.ion-ios7-alarm,
.ion-ios7-alarm-outline,
.ion-ios7-albums,
.ion-ios7-albums-outline,
.ion-ios7-americanfootball,
.ion-ios7-americanfootball-outline,
.ion-ios7-analytics,
.ion-ios7-analytics-outline,
.ion-ios7-arrow-back,
.ion-ios7-arrow-down,
.ion-ios7-arrow-forward,
.ion-ios7-arrow-left,
.ion-ios7-arrow-right,
.ion-ios7-arrow-thin-down,
.ion-ios7-arrow-thin-left,
.ion-ios7-arrow-thin-right,
.ion-ios7-arrow-thin-up,
.ion-ios7-arrow-up,
.ion-ios7-at,
.ion-ios7-at-outline,
.ion-ios7-barcode,
.ion-ios7-barcode-outline,
.ion-ios7-baseball,
.ion-ios7-baseball-outline,
.ion-ios7-basketball,
.ion-ios7-basketball-outline,
.ion-ios7-bell,
.ion-ios7-bell-outline,
.ion-ios7-bolt,
.ion-ios7-bolt-outline,
.ion-ios7-bookmarks,
.ion-ios7-bookmarks-outline,
.ion-ios7-box,
.ion-ios7-box-outline,
.ion-ios7-briefcase,
.ion-ios7-briefcase-outline,
.ion-ios7-browsers,
.ion-ios7-browsers-outline,
.ion-ios7-calculator,
.ion-ios7-calculator-outline,
.ion-ios7-calendar,
.ion-ios7-calendar-outline,
.ion-ios7-camera,
.ion-ios7-camera-outline,
.ion-ios7-cart,
.ion-ios7-cart-outline,
.ion-ios7-chatboxes,
.ion-ios7-chatboxes-outline,
.ion-ios7-chatbubble,
.ion-ios7-chatbubble-outline,
.ion-ios7-checkmark,
.ion-ios7-checkmark-empty,
.ion-ios7-checkmark-outline,
.ion-ios7-circle-filled,
.ion-ios7-circle-outline,
.ion-ios7-clock,
.ion-ios7-clock-outline,
.ion-ios7-close,
.ion-ios7-close-empty,
.ion-ios7-close-outline,
.ion-ios7-cloud,
.ion-ios7-cloud-download,
.ion-ios7-cloud-download-outline,
.ion-ios7-cloud-outline,
.ion-ios7-cloud-upload,
.ion-ios7-cloud-upload-outline,
.ion-ios7-cloudy,
.ion-ios7-cloudy-night,
.ion-ios7-cloudy-night-outline,
.ion-ios7-cloudy-outline,
.ion-ios7-cog,
.ion-ios7-cog-outline,
.ion-ios7-compose,
.ion-ios7-compose-outline,
.ion-ios7-contact,
.ion-ios7-contact-outline,
.ion-ios7-copy,
.ion-ios7-copy-outline,
.ion-ios7-download,
.ion-ios7-download-outline,
.ion-ios7-drag,
.ion-ios7-email,
.ion-ios7-email-outline,
.ion-ios7-expand,
.ion-ios7-eye,
.ion-ios7-eye-outline,
.ion-ios7-fastforward,
.ion-ios7-fastforward-outline,
.ion-ios7-filing,
.ion-ios7-filing-outline,
.ion-ios7-film,
.ion-ios7-film-outline,
.ion-ios7-flag,
.ion-ios7-flag-outline,
.ion-ios7-folder,
.ion-ios7-folder-outline,
.ion-ios7-football,
.ion-ios7-football-outline,
.ion-ios7-gear,
.ion-ios7-gear-outline,
.ion-ios7-glasses,
.ion-ios7-glasses-outline,
.ion-ios7-heart,
.ion-ios7-heart-outline,
.ion-ios7-help,
.ion-ios7-help-empty,
.ion-ios7-help-outline,
.ion-ios7-home,
.ion-ios7-home-outline,
.ion-ios7-infinite,
.ion-ios7-infinite-outline,
.ion-ios7-information,
.ion-ios7-information-empty,
.ion-ios7-information-outline,
.ion-ios7-ionic-outline,
.ion-ios7-keypad,
.ion-ios7-keypad-outline,
.ion-ios7-lightbulb,
.ion-ios7-lightbulb-outline,
.ion-ios7-location,
.ion-ios7-location-outline,
.ion-ios7-locked,
.ion-ios7-locked-outline,
.ion-ios7-loop,
.ion-ios7-loop-strong,
.ion-ios7-medkit,
.ion-ios7-medkit-outline,
.ion-ios7-mic,
.ion-ios7-mic-off,
.ion-ios7-mic-outline,
.ion-ios7-minus,
.ion-ios7-minus-empty,
.ion-ios7-minus-outline,
.ion-ios7-monitor,
.ion-ios7-monitor-outline,
.ion-ios7-moon,
.ion-ios7-moon-outline,
.ion-ios7-more,
.ion-ios7-more-outline,
.ion-ios7-musical-note,
.ion-ios7-musical-notes,
.ion-ios7-navigate,
.ion-ios7-navigate-outline,
.ion-ios7-paper,
.ion-ios7-paper-outline,
.ion-ios7-paperplane,
.ion-ios7-paperplane-outline,
.ion-ios7-partlysunny,
.ion-ios7-partlysunny-outline,
.ion-ios7-pause,
.ion-ios7-pause-outline,
.ion-ios7-paw,
.ion-ios7-paw-outline,
.ion-ios7-people,
.ion-ios7-people-outline,
.ion-ios7-person,
.ion-ios7-person-outline,
.ion-ios7-personadd,
.ion-ios7-personadd-outline,
.ion-ios7-photos,
.ion-ios7-photos-outline,
.ion-ios7-pie,
.ion-ios7-pie-outline,
.ion-ios7-play,
.ion-ios7-play-outline,
.ion-ios7-plus,
.ion-ios7-plus-empty,
.ion-ios7-plus-outline,
.ion-ios7-pricetag,
.ion-ios7-pricetag-outline,
.ion-ios7-pricetags,
.ion-ios7-pricetags-outline,
.ion-ios7-printer,
.ion-ios7-printer-outline,
.ion-ios7-pulse,
.ion-ios7-pulse-strong,
.ion-ios7-rainy,
.ion-ios7-rainy-outline,
.ion-ios7-recording,
.ion-ios7-recording-outline,
.ion-ios7-redo,
.ion-ios7-redo-outline,
.ion-ios7-refresh,
.ion-ios7-refresh-empty,
.ion-ios7-refresh-outline,
.ion-ios7-reload,
.ion-ios7-reverse-camera,
.ion-ios7-reverse-camera-outline,
.ion-ios7-rewind,
.ion-ios7-rewind-outline,
.ion-ios7-search,
.ion-ios7-search-strong,
.ion-ios7-settings,
.ion-ios7-settings-strong,
.ion-ios7-shrink,
.ion-ios7-skipbackward,
.ion-ios7-skipbackward-outline,
.ion-ios7-skipforward,
.ion-ios7-skipforward-outline,
.ion-ios7-snowy,
.ion-ios7-speedometer,
.ion-ios7-speedometer-outline,
.ion-ios7-star,
.ion-ios7-star-half,
.ion-ios7-star-outline,
.ion-ios7-stopwatch,
.ion-ios7-stopwatch-outline,
.ion-ios7-sunny,
.ion-ios7-sunny-outline,
.ion-ios7-telephone,
.ion-ios7-telephone-outline,
.ion-ios7-tennisball,
.ion-ios7-tennisball-outline,
.ion-ios7-thunderstorm,
.ion-ios7-thunderstorm-outline,
.ion-ios7-time,
.ion-ios7-time-outline,
.ion-ios7-timer,
.ion-ios7-timer-outline,
.ion-ios7-toggle,
.ion-ios7-toggle-outline,
.ion-ios7-trash,
.ion-ios7-trash-outline,
.ion-ios7-undo,
.ion-ios7-undo-outline,
.ion-ios7-unlocked,
.ion-ios7-unlocked-outline,
.ion-ios7-upload,
.ion-ios7-upload-outline,
.ion-ios7-videocam,
.ion-ios7-videocam-outline,
.ion-ios7-volume-high,
.ion-ios7-volume-low,
.ion-ios7-wineglass,
.ion-ios7-wineglass-outline,
.ion-ios7-world,
.ion-ios7-world-outline,
.ion-ipad,
.ion-iphone,
.ion-ipod,
.ion-jet,
.ion-key,
.ion-knife,
.ion-laptop,
.ion-leaf,
.ion-levels,
.ion-lightbulb,
.ion-link,
.ion-load-a,
.ion-load-b,
.ion-load-c,
.ion-load-d,
.ion-location,
.ion-locked,
.ion-log-in,
.ion-log-out,
.ion-loop,
.ion-magnet,
.ion-male,
.ion-man,
.ion-map,
.ion-medkit,
.ion-merge,
.ion-mic-a,
.ion-mic-b,
.ion-mic-c,
.ion-minus,
.ion-minus-circled,
.ion-minus-round,
.ion-model-s,
.ion-monitor,
.ion-more,
.ion-mouse,
.ion-music-note,
.ion-navicon,
.ion-navicon-round,
.ion-navigate,
.ion-network,
.ion-no-smoking,
.ion-nuclear,
.ion-outlet,
.ion-paper-airplane,
.ion-paperclip,
.ion-pause,
.ion-person,
.ion-person-add,
.ion-person-stalker,
.ion-pie-graph,
.ion-pin,
.ion-pinpoint,
.ion-pizza,
.ion-plane,
.ion-planet,
.ion-play,
.ion-playstation,
.ion-plus,
.ion-plus-circled,
.ion-plus-round,
.ion-podium,
.ion-pound,
.ion-power,
.ion-pricetag,
.ion-pricetags,
.ion-printer,
.ion-pull-request,
.ion-qr-scanner,
.ion-quote,
.ion-radio-waves,
.ion-record,
.ion-refresh,
.ion-reply,
.ion-reply-all,
.ion-ribbon-a,
.ion-ribbon-b,
.ion-sad,
.ion-scissors,
.ion-search,
.ion-settings,
.ion-share,
.ion-shuffle,
.ion-skip-backward,
.ion-skip-forward,
.ion-social-android,
.ion-social-android-outline,
.ion-social-apple,
.ion-social-apple-outline,
.ion-social-bitcoin,
.ion-social-bitcoin-outline,
.ion-social-buffer,
.ion-social-buffer-outline,
.ion-social-designernews,
.ion-social-designernews-outline,
.ion-social-dribbble,
.ion-social-dribbble-outline,
.ion-social-dropbox,
.ion-social-dropbox-outline,
.ion-social-facebook,
.ion-social-facebook-outline,
.ion-social-foursquare,
.ion-social-foursquare-outline,
.ion-social-freebsd-devil,
.ion-social-github,
.ion-social-github-outline,
.ion-social-google,
.ion-social-google-outline,
.ion-social-googleplus,
.ion-social-googleplus-outline,
.ion-social-hackernews,
.ion-social-hackernews-outline,
.ion-social-instagram,
.ion-social-instagram-outline,
.ion-social-linkedin,
.ion-social-linkedin-outline,
.ion-social-pinterest,
.ion-social-pinterest-outline,
.ion-social-reddit,
.ion-social-reddit-outline,
.ion-social-rss,
.ion-social-rss-outline,
.ion-social-skype,
.ion-social-skype-outline,
.ion-social-tumblr,
.ion-social-tumblr-outline,
.ion-social-tux,
.ion-social-twitter,
.ion-social-twitter-outline,
.ion-social-usd,
.ion-social-usd-outline,
.ion-social-vimeo,
.ion-social-vimeo-outline,
.ion-social-windows,
.ion-social-windows-outline,
.ion-social-wordpress,
.ion-social-wordpress-outline,
.ion-social-yahoo,
.ion-social-yahoo-outline,
.ion-social-youtube,
.ion-social-youtube-outline,
.ion-speakerphone,
.ion-speedometer,
.ion-spoon,
.ion-star,
.ion-stats-bars,
.ion-steam,
.ion-stop,
.ion-thermometer,
.ion-thumbsdown,
.ion-thumbsup,
.ion-toggle,
.ion-toggle-filled,
.ion-trash-a,
.ion-trash-b,
.ion-trophy,
.ion-umbrella,
.ion-university,
.ion-unlocked,
.ion-upload,
.ion-usb,
.ion-videocamera,
.ion-volume-high,
.ion-volume-low,
.ion-volume-medium,
.ion-volume-mute,
.ion-wand,
.ion-waterdrop,
.ion-wifi,
.ion-wineglass,
.ion-woman,
.ion-wrench,
.ion-xbox {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ion-spin,
.ion-loading-a,
.ion-loading-b,
.ion-loading-c,
.ion-loading-d,
.ion-looping,
.ion-refreshing,
.ion-ios7-reloading {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.ion-loading-a {
  -webkit-animation-timing-function: steps(8, start);
  -moz-animation-timing-function: steps(8, start);
  animation-timing-function: steps(8, start);
}
.ion-alert:before {
  content: "\f101";
}
.ion-alert-circled:before {
  content: "\f100";
}
.ion-android-add:before {
  content: "\f2c7";
}
.ion-android-add-contact:before {
  content: "\f2c6";
}
.ion-android-alarm:before {
  content: "\f2c8";
}
.ion-android-archive:before {
  content: "\f2c9";
}
.ion-android-arrow-back:before {
  content: "\f2ca";
}
.ion-android-arrow-down-left:before {
  content: "\f2cb";
}
.ion-android-arrow-down-right:before {
  content: "\f2cc";
}
.ion-android-arrow-forward:before {
  content: "\f30f";
}
.ion-android-arrow-up-left:before {
  content: "\f2cd";
}
.ion-android-arrow-up-right:before {
  content: "\f2ce";
}
.ion-android-battery:before {
  content: "\f2cf";
}
.ion-android-book:before {
  content: "\f2d0";
}
.ion-android-calendar:before {
  content: "\f2d1";
}
.ion-android-call:before {
  content: "\f2d2";
}
.ion-android-camera:before {
  content: "\f2d3";
}
.ion-android-chat:before {
  content: "\f2d4";
}
.ion-android-checkmark:before {
  content: "\f2d5";
}
.ion-android-clock:before {
  content: "\f2d6";
}
.ion-android-close:before {
  content: "\f2d7";
}
.ion-android-contact:before {
  content: "\f2d8";
}
.ion-android-contacts:before {
  content: "\f2d9";
}
.ion-android-data:before {
  content: "\f2da";
}
.ion-android-developer:before {
  content: "\f2db";
}
.ion-android-display:before {
  content: "\f2dc";
}
.ion-android-download:before {
  content: "\f2dd";
}
.ion-android-drawer:before {
  content: "\f310";
}
.ion-android-dropdown:before {
  content: "\f2de";
}
.ion-android-earth:before {
  content: "\f2df";
}
.ion-android-folder:before {
  content: "\f2e0";
}
.ion-android-forums:before {
  content: "\f2e1";
}
.ion-android-friends:before {
  content: "\f2e2";
}
.ion-android-hand:before {
  content: "\f2e3";
}
.ion-android-image:before {
  content: "\f2e4";
}
.ion-android-inbox:before {
  content: "\f2e5";
}
.ion-android-information:before {
  content: "\f2e6";
}
.ion-android-keypad:before {
  content: "\f2e7";
}
.ion-android-lightbulb:before {
  content: "\f2e8";
}
.ion-android-locate:before {
  content: "\f2e9";
}
.ion-android-location:before {
  content: "\f2ea";
}
.ion-android-mail:before {
  content: "\f2eb";
}
.ion-android-microphone:before {
  content: "\f2ec";
}
.ion-android-mixer:before {
  content: "\f2ed";
}
.ion-android-more:before {
  content: "\f2ee";
}
.ion-android-note:before {
  content: "\f2ef";
}
.ion-android-playstore:before {
  content: "\f2f0";
}
.ion-android-printer:before {
  content: "\f2f1";
}
.ion-android-promotion:before {
  content: "\f2f2";
}
.ion-android-reminder:before {
  content: "\f2f3";
}
.ion-android-remove:before {
  content: "\f2f4";
}
.ion-android-search:before {
  content: "\f2f5";
}
.ion-android-send:before {
  content: "\f2f6";
}
.ion-android-settings:before {
  content: "\f2f7";
}
.ion-android-share:before {
  content: "\f2f8";
}
.ion-android-social:before {
  content: "\f2fa";
}
.ion-android-social-user:before {
  content: "\f2f9";
}
.ion-android-sort:before {
  content: "\f2fb";
}
.ion-android-stair-drawer:before {
  content: "\f311";
}
.ion-android-star:before {
  content: "\f2fc";
}
.ion-android-stopwatch:before {
  content: "\f2fd";
}
.ion-android-storage:before {
  content: "\f2fe";
}
.ion-android-system-back:before {
  content: "\f2ff";
}
.ion-android-system-home:before {
  content: "\f300";
}
.ion-android-system-windows:before {
  content: "\f301";
}
.ion-android-timer:before {
  content: "\f302";
}
.ion-android-trash:before {
  content: "\f303";
}
.ion-android-user-menu:before {
  content: "\f312";
}
.ion-android-volume:before {
  content: "\f304";
}
.ion-android-wifi:before {
  content: "\f305";
}
.ion-aperture:before {
  content: "\f313";
}
.ion-archive:before {
  content: "\f102";
}
.ion-arrow-down-a:before {
  content: "\f103";
}
.ion-arrow-down-b:before {
  content: "\f104";
}
.ion-arrow-down-c:before {
  content: "\f105";
}
.ion-arrow-expand:before {
  content: "\f25e";
}
.ion-arrow-graph-down-left:before {
  content: "\f25f";
}
.ion-arrow-graph-down-right:before {
  content: "\f260";
}
.ion-arrow-graph-up-left:before {
  content: "\f261";
}
.ion-arrow-graph-up-right:before {
  content: "\f262";
}
.ion-arrow-left-a:before {
  content: "\f106";
}
.ion-arrow-left-b:before {
  content: "\f107";
}
.ion-arrow-left-c:before {
  content: "\f108";
}
.ion-arrow-move:before {
  content: "\f263";
}
.ion-arrow-resize:before {
  content: "\f264";
}
.ion-arrow-return-left:before {
  content: "\f265";
}
.ion-arrow-return-right:before {
  content: "\f266";
}
.ion-arrow-right-a:before {
  content: "\f109";
}
.ion-arrow-right-b:before {
  content: "\f10a";
}
.ion-arrow-right-c:before {
  content: "\f10b";
}
.ion-arrow-shrink:before {
  content: "\f267";
}
.ion-arrow-swap:before {
  content: "\f268";
}
.ion-arrow-up-a:before {
  content: "\f10c";
}
.ion-arrow-up-b:before {
  content: "\f10d";
}
.ion-arrow-up-c:before {
  content: "\f10e";
}
.ion-asterisk:before {
  content: "\f314";
}
.ion-at:before {
  content: "\f10f";
}
.ion-bag:before {
  content: "\f110";
}
.ion-battery-charging:before {
  content: "\f111";
}
.ion-battery-empty:before {
  content: "\f112";
}
.ion-battery-full:before {
  content: "\f113";
}
.ion-battery-half:before {
  content: "\f114";
}
.ion-battery-low:before {
  content: "\f115";
}
.ion-beaker:before {
  content: "\f269";
}
.ion-beer:before {
  content: "\f26a";
}
.ion-bluetooth:before {
  content: "\f116";
}
.ion-bonfire:before {
  content: "\f315";
}
.ion-bookmark:before {
  content: "\f26b";
}
.ion-briefcase:before {
  content: "\f26c";
}
.ion-bug:before {
  content: "\f2be";
}
.ion-calculator:before {
  content: "\f26d";
}
.ion-calendar:before {
  content: "\f117";
}
.ion-camera:before {
  content: "\f118";
}
.ion-card:before {
  content: "\f119";
}
.ion-cash:before {
  content: "\f316";
}
.ion-chatbox:before {
  content: "\f11b";
}
.ion-chatbox-working:before {
  content: "\f11a";
}
.ion-chatboxes:before {
  content: "\f11c";
}
.ion-chatbubble:before {
  content: "\f11e";
}
.ion-chatbubble-working:before {
  content: "\f11d";
}
.ion-chatbubbles:before {
  content: "\f11f";
}
.ion-checkmark:before {
  content: "\f122";
}
.ion-checkmark-circled:before {
  content: "\f120";
}
.ion-checkmark-round:before {
  content: "\f121";
}
.ion-chevron-down:before {
  content: "\f123";
}
.ion-chevron-left:before {
  content: "\f124";
}
.ion-chevron-right:before {
  content: "\f125";
}
.ion-chevron-up:before {
  content: "\f126";
}
.ion-clipboard:before {
  content: "\f127";
}
.ion-clock:before {
  content: "\f26e";
}
.ion-close:before {
  content: "\f12a";
}
.ion-close-circled:before {
  content: "\f128";
}
.ion-close-round:before {
  content: "\f129";
}
.ion-closed-captioning:before {
  content: "\f317";
}
.ion-cloud:before {
  content: "\f12b";
}
.ion-code:before {
  content: "\f271";
}
.ion-code-download:before {
  content: "\f26f";
}
.ion-code-working:before {
  content: "\f270";
}
.ion-coffee:before {
  content: "\f272";
}
.ion-compass:before {
  content: "\f273";
}
.ion-compose:before {
  content: "\f12c";
}
.ion-connection-bars:before {
  content: "\f274";
}
.ion-contrast:before {
  content: "\f275";
}
.ion-cube:before {
  content: "\f318";
}
.ion-disc:before {
  content: "\f12d";
}
.ion-document:before {
  content: "\f12f";
}
.ion-document-text:before {
  content: "\f12e";
}
.ion-drag:before {
  content: "\f130";
}
.ion-earth:before {
  content: "\f276";
}
.ion-edit:before {
  content: "\f2bf";
}
.ion-egg:before {
  content: "\f277";
}
.ion-eject:before {
  content: "\f131";
}
.ion-email:before {
  content: "\f132";
}
.ion-eye:before {
  content: "\f133";
}
.ion-eye-disabled:before {
  content: "\f306";
}
.ion-female:before {
  content: "\f278";
}
.ion-filing:before {
  content: "\f134";
}
.ion-film-marker:before {
  content: "\f135";
}
.ion-fireball:before {
  content: "\f319";
}
.ion-flag:before {
  content: "\f279";
}
.ion-flame:before {
  content: "\f31a";
}
.ion-flash:before {
  content: "\f137";
}
.ion-flash-off:before {
  content: "\f136";
}
.ion-flask:before {
  content: "\f138";
}
.ion-folder:before {
  content: "\f139";
}
.ion-fork:before {
  content: "\f27a";
}
.ion-fork-repo:before {
  content: "\f2c0";
}
.ion-forward:before {
  content: "\f13a";
}
.ion-funnel:before {
  content: "\f31b";
}
.ion-game-controller-a:before {
  content: "\f13b";
}
.ion-game-controller-b:before {
  content: "\f13c";
}
.ion-gear-a:before {
  content: "\f13d";
}
.ion-gear-b:before {
  content: "\f13e";
}
.ion-grid:before {
  content: "\f13f";
}
.ion-hammer:before {
  content: "\f27b";
}
.ion-happy:before {
  content: "\f31c";
}
.ion-headphone:before {
  content: "\f140";
}
.ion-heart:before {
  content: "\f141";
}
.ion-heart-broken:before {
  content: "\f31d";
}
.ion-help:before {
  content: "\f143";
}
.ion-help-buoy:before {
  content: "\f27c";
}
.ion-help-circled:before {
  content: "\f142";
}
.ion-home:before {
  content: "\f144";
}
.ion-icecream:before {
  content: "\f27d";
}
.ion-icon-social-google-plus:before {
  content: "\f146";
}
.ion-icon-social-google-plus-outline:before {
  content: "\f145";
}
.ion-image:before {
  content: "\f147";
}
.ion-images:before {
  content: "\f148";
}
.ion-information:before {
  content: "\f14a";
}
.ion-information-circled:before {
  content: "\f149";
}
.ion-ionic:before {
  content: "\f14b";
}
.ion-ios7-alarm:before {
  content: "\f14d";
}
.ion-ios7-alarm-outline:before {
  content: "\f14c";
}
.ion-ios7-albums:before {
  content: "\f14f";
}
.ion-ios7-albums-outline:before {
  content: "\f14e";
}
.ion-ios7-americanfootball:before {
  content: "\f31f";
}
.ion-ios7-americanfootball-outline:before {
  content: "\f31e";
}
.ion-ios7-analytics:before {
  content: "\f321";
}
.ion-ios7-analytics-outline:before {
  content: "\f320";
}
.ion-ios7-arrow-back:before {
  content: "\f150";
}
.ion-ios7-arrow-down:before {
  content: "\f151";
}
.ion-ios7-arrow-forward:before {
  content: "\f152";
}
.ion-ios7-arrow-left:before {
  content: "\f153";
}
.ion-ios7-arrow-right:before {
  content: "\f154";
}
.ion-ios7-arrow-thin-down:before {
  content: "\f27e";
}
.ion-ios7-arrow-thin-left:before {
  content: "\f27f";
}
.ion-ios7-arrow-thin-right:before {
  content: "\f280";
}
.ion-ios7-arrow-thin-up:before {
  content: "\f281";
}
.ion-ios7-arrow-up:before {
  content: "\f155";
}
.ion-ios7-at:before {
  content: "\f157";
}
.ion-ios7-at-outline:before {
  content: "\f156";
}
.ion-ios7-barcode:before {
  content: "\f323";
}
.ion-ios7-barcode-outline:before {
  content: "\f322";
}
.ion-ios7-baseball:before {
  content: "\f325";
}
.ion-ios7-baseball-outline:before {
  content: "\f324";
}
.ion-ios7-basketball:before {
  content: "\f327";
}
.ion-ios7-basketball-outline:before {
  content: "\f326";
}
.ion-ios7-bell:before {
  content: "\f159";
}
.ion-ios7-bell-outline:before {
  content: "\f158";
}
.ion-ios7-bolt:before {
  content: "\f15b";
}
.ion-ios7-bolt-outline:before {
  content: "\f15a";
}
.ion-ios7-bookmarks:before {
  content: "\f15d";
}
.ion-ios7-bookmarks-outline:before {
  content: "\f15c";
}
.ion-ios7-box:before {
  content: "\f15f";
}
.ion-ios7-box-outline:before {
  content: "\f15e";
}
.ion-ios7-briefcase:before {
  content: "\f283";
}
.ion-ios7-briefcase-outline:before {
  content: "\f282";
}
.ion-ios7-browsers:before {
  content: "\f161";
}
.ion-ios7-browsers-outline:before {
  content: "\f160";
}
.ion-ios7-calculator:before {
  content: "\f285";
}
.ion-ios7-calculator-outline:before {
  content: "\f284";
}
.ion-ios7-calendar:before {
  content: "\f163";
}
.ion-ios7-calendar-outline:before {
  content: "\f162";
}
.ion-ios7-camera:before {
  content: "\f165";
}
.ion-ios7-camera-outline:before {
  content: "\f164";
}
.ion-ios7-cart:before {
  content: "\f167";
}
.ion-ios7-cart-outline:before {
  content: "\f166";
}
.ion-ios7-chatboxes:before {
  content: "\f169";
}
.ion-ios7-chatboxes-outline:before {
  content: "\f168";
}
.ion-ios7-chatbubble:before {
  content: "\f16b";
}
.ion-ios7-chatbubble-outline:before {
  content: "\f16a";
}
.ion-ios7-checkmark:before {
  content: "\f16e";
}
.ion-ios7-checkmark-empty:before {
  content: "\f16c";
}
.ion-ios7-checkmark-outline:before {
  content: "\f16d";
}
.ion-ios7-circle-filled:before {
  content: "\f16f";
}
.ion-ios7-circle-outline:before {
  content: "\f170";
}
.ion-ios7-clock:before {
  content: "\f172";
}
.ion-ios7-clock-outline:before {
  content: "\f171";
}
.ion-ios7-close:before {
  content: "\f2bc";
}
.ion-ios7-close-empty:before {
  content: "\f2bd";
}
.ion-ios7-close-outline:before {
  content: "\f2bb";
}
.ion-ios7-cloud:before {
  content: "\f178";
}
.ion-ios7-cloud-download:before {
  content: "\f174";
}
.ion-ios7-cloud-download-outline:before {
  content: "\f173";
}
.ion-ios7-cloud-outline:before {
  content: "\f175";
}
.ion-ios7-cloud-upload:before {
  content: "\f177";
}
.ion-ios7-cloud-upload-outline:before {
  content: "\f176";
}
.ion-ios7-cloudy:before {
  content: "\f17a";
}
.ion-ios7-cloudy-night:before {
  content: "\f308";
}
.ion-ios7-cloudy-night-outline:before {
  content: "\f307";
}
.ion-ios7-cloudy-outline:before {
  content: "\f179";
}
.ion-ios7-cog:before {
  content: "\f17c";
}
.ion-ios7-cog-outline:before {
  content: "\f17b";
}
.ion-ios7-compose:before {
  content: "\f17e";
}
.ion-ios7-compose-outline:before {
  content: "\f17d";
}
.ion-ios7-contact:before {
  content: "\f180";
}
.ion-ios7-contact-outline:before {
  content: "\f17f";
}
.ion-ios7-copy:before {
  content: "\f182";
}
.ion-ios7-copy-outline:before {
  content: "\f181";
}
.ion-ios7-download:before {
  content: "\f184";
}
.ion-ios7-download-outline:before {
  content: "\f183";
}
.ion-ios7-drag:before {
  content: "\f185";
}
.ion-ios7-email:before {
  content: "\f187";
}
.ion-ios7-email-outline:before {
  content: "\f186";
}
.ion-ios7-expand:before {
  content: "\f30d";
}
.ion-ios7-eye:before {
  content: "\f189";
}
.ion-ios7-eye-outline:before {
  content: "\f188";
}
.ion-ios7-fastforward:before {
  content: "\f18b";
}
.ion-ios7-fastforward-outline:before {
  content: "\f18a";
}
.ion-ios7-filing:before {
  content: "\f18d";
}
.ion-ios7-filing-outline:before {
  content: "\f18c";
}
.ion-ios7-film:before {
  content: "\f18f";
}
.ion-ios7-film-outline:before {
  content: "\f18e";
}
.ion-ios7-flag:before {
  content: "\f191";
}
.ion-ios7-flag-outline:before {
  content: "\f190";
}
.ion-ios7-folder:before {
  content: "\f193";
}
.ion-ios7-folder-outline:before {
  content: "\f192";
}
.ion-ios7-football:before {
  content: "\f329";
}
.ion-ios7-football-outline:before {
  content: "\f328";
}
.ion-ios7-gear:before {
  content: "\f195";
}
.ion-ios7-gear-outline:before {
  content: "\f194";
}
.ion-ios7-glasses:before {
  content: "\f197";
}
.ion-ios7-glasses-outline:before {
  content: "\f196";
}
.ion-ios7-heart:before {
  content: "\f199";
}
.ion-ios7-heart-outline:before {
  content: "\f198";
}
.ion-ios7-help:before {
  content: "\f19c";
}
.ion-ios7-help-empty:before {
  content: "\f19a";
}
.ion-ios7-help-outline:before {
  content: "\f19b";
}
.ion-ios7-home:before {
  content: "\f32b";
}
.ion-ios7-home-outline:before {
  content: "\f32a";
}
.ion-ios7-infinite:before {
  content: "\f19e";
}
.ion-ios7-infinite-outline:before {
  content: "\f19d";
}
.ion-ios7-information:before {
  content: "\f1a1";
}
.ion-ios7-information-empty:before {
  content: "\f19f";
}
.ion-ios7-information-outline:before {
  content: "\f1a0";
}
.ion-ios7-ionic-outline:before {
  content: "\f1a2";
}
.ion-ios7-keypad:before {
  content: "\f1a4";
}
.ion-ios7-keypad-outline:before {
  content: "\f1a3";
}
.ion-ios7-lightbulb:before {
  content: "\f287";
}
.ion-ios7-lightbulb-outline:before {
  content: "\f286";
}
.ion-ios7-location:before {
  content: "\f1a6";
}
.ion-ios7-location-outline:before {
  content: "\f1a5";
}
.ion-ios7-locked:before {
  content: "\f1a8";
}
.ion-ios7-locked-outline:before {
  content: "\f1a7";
}
.ion-ios7-loop:before {
  content: "\f32d";
}
.ion-ios7-loop-strong:before {
  content: "\f32c";
}
.ion-ios7-medkit:before {
  content: "\f289";
}
.ion-ios7-medkit-outline:before {
  content: "\f288";
}
.ion-ios7-mic:before {
  content: "\f1ab";
}
.ion-ios7-mic-off:before {
  content: "\f1a9";
}
.ion-ios7-mic-outline:before {
  content: "\f1aa";
}
.ion-ios7-minus:before {
  content: "\f1ae";
}
.ion-ios7-minus-empty:before {
  content: "\f1ac";
}
.ion-ios7-minus-outline:before {
  content: "\f1ad";
}
.ion-ios7-monitor:before {
  content: "\f1b0";
}
.ion-ios7-monitor-outline:before {
  content: "\f1af";
}
.ion-ios7-moon:before {
  content: "\f1b2";
}
.ion-ios7-moon-outline:before {
  content: "\f1b1";
}
.ion-ios7-more:before {
  content: "\f1b4";
}
.ion-ios7-more-outline:before {
  content: "\f1b3";
}
.ion-ios7-musical-note:before {
  content: "\f1b5";
}
.ion-ios7-musical-notes:before {
  content: "\f1b6";
}
.ion-ios7-navigate:before {
  content: "\f1b8";
}
.ion-ios7-navigate-outline:before {
  content: "\f1b7";
}
.ion-ios7-paper:before {
  content: "\f32f";
}
.ion-ios7-paper-outline:before {
  content: "\f32e";
}
.ion-ios7-paperplane:before {
  content: "\f1ba";
}
.ion-ios7-paperplane-outline:before {
  content: "\f1b9";
}
.ion-ios7-partlysunny:before {
  content: "\f1bc";
}
.ion-ios7-partlysunny-outline:before {
  content: "\f1bb";
}
.ion-ios7-pause:before {
  content: "\f1be";
}
.ion-ios7-pause-outline:before {
  content: "\f1bd";
}
.ion-ios7-paw:before {
  content: "\f331";
}
.ion-ios7-paw-outline:before {
  content: "\f330";
}
.ion-ios7-people:before {
  content: "\f1c0";
}
.ion-ios7-people-outline:before {
  content: "\f1bf";
}
.ion-ios7-person:before {
  content: "\f1c2";
}
.ion-ios7-person-outline:before {
  content: "\f1c1";
}
.ion-ios7-personadd:before {
  content: "\f1c4";
}
.ion-ios7-personadd-outline:before {
  content: "\f1c3";
}
.ion-ios7-photos:before {
  content: "\f1c6";
}
.ion-ios7-photos-outline:before {
  content: "\f1c5";
}
.ion-ios7-pie:before {
  content: "\f28b";
}
.ion-ios7-pie-outline:before {
  content: "\f28a";
}
.ion-ios7-play:before {
  content: "\f1c8";
}
.ion-ios7-play-outline:before {
  content: "\f1c7";
}
.ion-ios7-plus:before {
  content: "\f1cb";
}
.ion-ios7-plus-empty:before {
  content: "\f1c9";
}
.ion-ios7-plus-outline:before {
  content: "\f1ca";
}
.ion-ios7-pricetag:before {
  content: "\f28d";
}
.ion-ios7-pricetag-outline:before {
  content: "\f28c";
}
.ion-ios7-pricetags:before {
  content: "\f333";
}
.ion-ios7-pricetags-outline:before {
  content: "\f332";
}
.ion-ios7-printer:before {
  content: "\f1cd";
}
.ion-ios7-printer-outline:before {
  content: "\f1cc";
}
.ion-ios7-pulse:before {
  content: "\f335";
}
.ion-ios7-pulse-strong:before {
  content: "\f334";
}
.ion-ios7-rainy:before {
  content: "\f1cf";
}
.ion-ios7-rainy-outline:before {
  content: "\f1ce";
}
.ion-ios7-recording:before {
  content: "\f1d1";
}
.ion-ios7-recording-outline:before {
  content: "\f1d0";
}
.ion-ios7-redo:before {
  content: "\f1d3";
}
.ion-ios7-redo-outline:before {
  content: "\f1d2";
}
.ion-ios7-refresh:before {
  content: "\f1d6";
}
.ion-ios7-refresh-empty:before {
  content: "\f1d4";
}
.ion-ios7-refresh-outline:before {
  content: "\f1d5";
}
.ion-ios7-reload:before {
  content: "\f28e";
}
.ion-ios7-reverse-camera:before {
  content: "\f337";
}
.ion-ios7-reverse-camera-outline:before {
  content: "\f336";
}
.ion-ios7-rewind:before {
  content: "\f1d8";
}
.ion-ios7-rewind-outline:before {
  content: "\f1d7";
}
.ion-ios7-search:before {
  content: "\f1da";
}
.ion-ios7-search-strong:before {
  content: "\f1d9";
}
.ion-ios7-settings:before {
  content: "\f339";
}
.ion-ios7-settings-strong:before {
  content: "\f338";
}
.ion-ios7-shrink:before {
  content: "\f30e";
}
.ion-ios7-skipbackward:before {
  content: "\f1dc";
}
.ion-ios7-skipbackward-outline:before {
  content: "\f1db";
}
.ion-ios7-skipforward:before {
  content: "\f1de";
}
.ion-ios7-skipforward-outline:before {
  content: "\f1dd";
}
.ion-ios7-snowy:before {
  content: "\f309";
}
.ion-ios7-speedometer:before {
  content: "\f290";
}
.ion-ios7-speedometer-outline:before {
  content: "\f28f";
}
.ion-ios7-star:before {
  content: "\f1e0";
}
.ion-ios7-star-half:before {
  content: "\f33a";
}
.ion-ios7-star-outline:before {
  content: "\f1df";
}
.ion-ios7-stopwatch:before {
  content: "\f1e2";
}
.ion-ios7-stopwatch-outline:before {
  content: "\f1e1";
}
.ion-ios7-sunny:before {
  content: "\f1e4";
}
.ion-ios7-sunny-outline:before {
  content: "\f1e3";
}
.ion-ios7-telephone:before {
  content: "\f1e6";
}
.ion-ios7-telephone-outline:before {
  content: "\f1e5";
}
.ion-ios7-tennisball:before {
  content: "\f33c";
}
.ion-ios7-tennisball-outline:before {
  content: "\f33b";
}
.ion-ios7-thunderstorm:before {
  content: "\f1e8";
}
.ion-ios7-thunderstorm-outline:before {
  content: "\f1e7";
}
.ion-ios7-time:before {
  content: "\f292";
}
.ion-ios7-time-outline:before {
  content: "\f291";
}
.ion-ios7-timer:before {
  content: "\f1ea";
}
.ion-ios7-timer-outline:before {
  content: "\f1e9";
}
.ion-ios7-toggle:before {
  content: "\f33e";
}
.ion-ios7-toggle-outline:before {
  content: "\f33d";
}
.ion-ios7-trash:before {
  content: "\f1ec";
}
.ion-ios7-trash-outline:before {
  content: "\f1eb";
}
.ion-ios7-undo:before {
  content: "\f1ee";
}
.ion-ios7-undo-outline:before {
  content: "\f1ed";
}
.ion-ios7-unlocked:before {
  content: "\f1f0";
}
.ion-ios7-unlocked-outline:before {
  content: "\f1ef";
}
.ion-ios7-upload:before {
  content: "\f1f2";
}
.ion-ios7-upload-outline:before {
  content: "\f1f1";
}
.ion-ios7-videocam:before {
  content: "\f1f4";
}
.ion-ios7-videocam-outline:before {
  content: "\f1f3";
}
.ion-ios7-volume-high:before {
  content: "\f1f5";
}
.ion-ios7-volume-low:before {
  content: "\f1f6";
}
.ion-ios7-wineglass:before {
  content: "\f294";
}
.ion-ios7-wineglass-outline:before {
  content: "\f293";
}
.ion-ios7-world:before {
  content: "\f1f8";
}
.ion-ios7-world-outline:before {
  content: "\f1f7";
}
.ion-ipad:before {
  content: "\f1f9";
}
.ion-iphone:before {
  content: "\f1fa";
}
.ion-ipod:before {
  content: "\f1fb";
}
.ion-jet:before {
  content: "\f295";
}
.ion-key:before {
  content: "\f296";
}
.ion-knife:before {
  content: "\f297";
}
.ion-laptop:before {
  content: "\f1fc";
}
.ion-leaf:before {
  content: "\f1fd";
}
.ion-levels:before {
  content: "\f298";
}
.ion-lightbulb:before {
  content: "\f299";
}
.ion-link:before {
  content: "\f1fe";
}
.ion-load-a:before {
  content: "\f29a";
}
.ion-load-b:before {
  content: "\f29b";
}
.ion-load-c:before {
  content: "\f29c";
}
.ion-load-d:before {
  content: "\f29d";
}
.ion-location:before {
  content: "\f1ff";
}
.ion-locked:before {
  content: "\f200";
}
.ion-log-in:before {
  content: "\f29e";
}
.ion-log-out:before {
  content: "\f29f";
}
.ion-loop:before {
  content: "\f201";
}
.ion-magnet:before {
  content: "\f2a0";
}
.ion-male:before {
  content: "\f2a1";
}
.ion-man:before {
  content: "\f202";
}
.ion-map:before {
  content: "\f203";
}
.ion-medkit:before {
  content: "\f2a2";
}
.ion-merge:before {
  content: "\f33f";
}
.ion-mic-a:before {
  content: "\f204";
}
.ion-mic-b:before {
  content: "\f205";
}
.ion-mic-c:before {
  content: "\f206";
}
.ion-minus:before {
  content: "\f209";
}
.ion-minus-circled:before {
  content: "\f207";
}
.ion-minus-round:before {
  content: "\f208";
}
.ion-model-s:before {
  content: "\f2c1";
}
.ion-monitor:before {
  content: "\f20a";
}
.ion-more:before {
  content: "\f20b";
}
.ion-mouse:before {
  content: "\f340";
}
.ion-music-note:before {
  content: "\f20c";
}
.ion-navicon:before {
  content: "\f20e";
}
.ion-navicon-round:before {
  content: "\f20d";
}
.ion-navigate:before {
  content: "\f2a3";
}
.ion-network:before {
  content: "\f341";
}
.ion-no-smoking:before {
  content: "\f2c2";
}
.ion-nuclear:before {
  content: "\f2a4";
}
.ion-outlet:before {
  content: "\f342";
}
.ion-paper-airplane:before {
  content: "\f2c3";
}
.ion-paperclip:before {
  content: "\f20f";
}
.ion-pause:before {
  content: "\f210";
}
.ion-person:before {
  content: "\f213";
}
.ion-person-add:before {
  content: "\f211";
}
.ion-person-stalker:before {
  content: "\f212";
}
.ion-pie-graph:before {
  content: "\f2a5";
}
.ion-pin:before {
  content: "\f2a6";
}
.ion-pinpoint:before {
  content: "\f2a7";
}
.ion-pizza:before {
  content: "\f2a8";
}
.ion-plane:before {
  content: "\f214";
}
.ion-planet:before {
  content: "\f343";
}
.ion-play:before {
  content: "\f215";
}
.ion-playstation:before {
  content: "\f30a";
}
.ion-plus:before {
  content: "\f218";
}
.ion-plus-circled:before {
  content: "\f216";
}
.ion-plus-round:before {
  content: "\f217";
}
.ion-podium:before {
  content: "\f344";
}
.ion-pound:before {
  content: "\f219";
}
.ion-power:before {
  content: "\f2a9";
}
.ion-pricetag:before {
  content: "\f2aa";
}
.ion-pricetags:before {
  content: "\f2ab";
}
.ion-printer:before {
  content: "\f21a";
}
.ion-pull-request:before {
  content: "\f345";
}
.ion-qr-scanner:before {
  content: "\f346";
}
.ion-quote:before {
  content: "\f347";
}
.ion-radio-waves:before {
  content: "\f2ac";
}
.ion-record:before {
  content: "\f21b";
}
.ion-refresh:before {
  content: "\f21c";
}
.ion-reply:before {
  content: "\f21e";
}
.ion-reply-all:before {
  content: "\f21d";
}
.ion-ribbon-a:before {
  content: "\f348";
}
.ion-ribbon-b:before {
  content: "\f349";
}
.ion-sad:before {
  content: "\f34a";
}
.ion-scissors:before {
  content: "\f34b";
}
.ion-search:before {
  content: "\f21f";
}
.ion-settings:before {
  content: "\f2ad";
}
.ion-share:before {
  content: "\f220";
}
.ion-shuffle:before {
  content: "\f221";
}
.ion-skip-backward:before {
  content: "\f222";
}
.ion-skip-forward:before {
  content: "\f223";
}
.ion-social-android:before {
  content: "\f225";
}
.ion-social-android-outline:before {
  content: "\f224";
}
.ion-social-apple:before {
  content: "\f227";
}
.ion-social-apple-outline:before {
  content: "\f226";
}
.ion-social-bitcoin:before {
  content: "\f2af";
}
.ion-social-bitcoin-outline:before {
  content: "\f2ae";
}
.ion-social-buffer:before {
  content: "\f229";
}
.ion-social-buffer-outline:before {
  content: "\f228";
}
.ion-social-designernews:before {
  content: "\f22b";
}
.ion-social-designernews-outline:before {
  content: "\f22a";
}
.ion-social-dribbble:before {
  content: "\f22d";
}
.ion-social-dribbble-outline:before {
  content: "\f22c";
}
.ion-social-dropbox:before {
  content: "\f22f";
}
.ion-social-dropbox-outline:before {
  content: "\f22e";
}
.ion-social-facebook:before {
  content: "\f231";
}
.ion-social-facebook-outline:before {
  content: "\f230";
}
.ion-social-foursquare:before {
  content: "\f34d";
}
.ion-social-foursquare-outline:before {
  content: "\f34c";
}
.ion-social-freebsd-devil:before {
  content: "\f2c4";
}
.ion-social-github:before {
  content: "\f233";
}
.ion-social-github-outline:before {
  content: "\f232";
}
.ion-social-google:before {
  content: "\f34f";
}
.ion-social-google-outline:before {
  content: "\f34e";
}
.ion-social-googleplus:before {
  content: "\f235";
}
.ion-social-googleplus-outline:before {
  content: "\f234";
}
.ion-social-hackernews:before {
  content: "\f237";
}
.ion-social-hackernews-outline:before {
  content: "\f236";
}
.ion-social-instagram:before {
  content: "\f351";
}
.ion-social-instagram-outline:before {
  content: "\f350";
}
.ion-social-linkedin:before {
  content: "\f239";
}
.ion-social-linkedin-outline:before {
  content: "\f238";
}
.ion-social-pinterest:before {
  content: "\f2b1";
}
.ion-social-pinterest-outline:before {
  content: "\f2b0";
}
.ion-social-reddit:before {
  content: "\f23b";
}
.ion-social-reddit-outline:before {
  content: "\f23a";
}
.ion-social-rss:before {
  content: "\f23d";
}
.ion-social-rss-outline:before {
  content: "\f23c";
}
.ion-social-skype:before {
  content: "\f23f";
}
.ion-social-skype-outline:before {
  content: "\f23e";
}
.ion-social-tumblr:before {
  content: "\f241";
}
.ion-social-tumblr-outline:before {
  content: "\f240";
}
.ion-social-tux:before {
  content: "\f2c5";
}
.ion-social-twitter:before {
  content: "\f243";
}
.ion-social-twitter-outline:before {
  content: "\f242";
}
.ion-social-usd:before {
  content: "\f353";
}
.ion-social-usd-outline:before {
  content: "\f352";
}
.ion-social-vimeo:before {
  content: "\f245";
}
.ion-social-vimeo-outline:before {
  content: "\f244";
}
.ion-social-windows:before {
  content: "\f247";
}
.ion-social-windows-outline:before {
  content: "\f246";
}
.ion-social-wordpress:before {
  content: "\f249";
}
.ion-social-wordpress-outline:before {
  content: "\f248";
}
.ion-social-yahoo:before {
  content: "\f24b";
}
.ion-social-yahoo-outline:before {
  content: "\f24a";
}
.ion-social-youtube:before {
  content: "\f24d";
}
.ion-social-youtube-outline:before {
  content: "\f24c";
}
.ion-speakerphone:before {
  content: "\f2b2";
}
.ion-speedometer:before {
  content: "\f2b3";
}
.ion-spoon:before {
  content: "\f2b4";
}
.ion-star:before {
  content: "\f24e";
}
.ion-stats-bars:before {
  content: "\f2b5";
}
.ion-steam:before {
  content: "\f30b";
}
.ion-stop:before {
  content: "\f24f";
}
.ion-thermometer:before {
  content: "\f2b6";
}
.ion-thumbsdown:before {
  content: "\f250";
}
.ion-thumbsup:before {
  content: "\f251";
}
.ion-toggle:before {
  content: "\f355";
}
.ion-toggle-filled:before {
  content: "\f354";
}
.ion-trash-a:before {
  content: "\f252";
}
.ion-trash-b:before {
  content: "\f253";
}
.ion-trophy:before {
  content: "\f356";
}
.ion-umbrella:before {
  content: "\f2b7";
}
.ion-university:before {
  content: "\f357";
}
.ion-unlocked:before {
  content: "\f254";
}
.ion-upload:before {
  content: "\f255";
}
.ion-usb:before {
  content: "\f2b8";
}
.ion-videocamera:before {
  content: "\f256";
}
.ion-volume-high:before {
  content: "\f257";
}
.ion-volume-low:before {
  content: "\f258";
}
.ion-volume-medium:before {
  content: "\f259";
}
.ion-volume-mute:before {
  content: "\f25a";
}
.ion-wand:before {
  content: "\f358";
}
.ion-waterdrop:before {
  content: "\f25b";
}
.ion-wifi:before {
  content: "\f25c";
}
.ion-wineglass:before {
  content: "\f2b9";
}
.ion-woman:before {
  content: "\f25d";
}
.ion-wrench:before {
  content: "\f2ba";
}
.ion-xbox:before {
  content: "\f30c";
}
/*!
 *  Weather Icons 2.0
 *  Updated August 1, 2015
 *  Weather themed icons for Bootstrap
 *  Author - Erik Flowers - erik@helloerik.com
 *  Email: erik@helloerik.com
 *  Twitter: http://twitter.com/Erik_UX
 *  ------------------------------------------------------------------------------
 *  Maintained at http://erikflowers.github.io/weather-icons
 *
 *  License
 *  ------------------------------------------------------------------------------
 *  - Font licensed under SIL OFL 1.1 -
 *    http://scripts.sil.org/OFL
 *  - CSS, SCSS and LESS are licensed under MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - Documentation licensed under CC BY 3.0 -
 *    http://creativecommons.org/licenses/by/3.0/
 *  - Inspired by and works great as a companion with Font Awesome
 *    "Font Awesome by Dave Gandy - http://fontawesome.io"
 */
@font-face {
  font-family: 'weathericons';
  src: url('../fonts/weathericons-regular-webfont.eot');
  src: url('../fonts/weathericons-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/weathericons-regular-webfont.woff2') format('woff2'), url('../fonts/weathericons-regular-webfont.woff') format('woff'), url('../fonts/weathericons-regular-webfont.ttf') format('truetype'), url('../fonts/weathericons-regular-webfont.svg#weather_iconsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.wi {
  display: inline-block;
  font-family: 'weathericons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wi-fw {
  text-align: center;
  width: 1.4em;
}
.wi-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.wi-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.wi-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.wi-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.wi-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
.wi-day-sunny:before {
  content: "\f00d";
}
.wi-day-cloudy:before {
  content: "\f002";
}
.wi-day-cloudy-gusts:before {
  content: "\f000";
}
.wi-day-cloudy-windy:before {
  content: "\f001";
}
.wi-day-fog:before {
  content: "\f003";
}
.wi-day-hail:before {
  content: "\f004";
}
.wi-day-haze:before {
  content: "\f0b6";
}
.wi-day-lightning:before {
  content: "\f005";
}
.wi-day-rain:before {
  content: "\f008";
}
.wi-day-rain-mix:before {
  content: "\f006";
}
.wi-day-rain-wind:before {
  content: "\f007";
}
.wi-day-showers:before {
  content: "\f009";
}
.wi-day-sleet:before {
  content: "\f0b2";
}
.wi-day-sleet-storm:before {
  content: "\f068";
}
.wi-day-snow:before {
  content: "\f00a";
}
.wi-day-snow-thunderstorm:before {
  content: "\f06b";
}
.wi-day-snow-wind:before {
  content: "\f065";
}
.wi-day-sprinkle:before {
  content: "\f00b";
}
.wi-day-storm-showers:before {
  content: "\f00e";
}
.wi-day-sunny-overcast:before {
  content: "\f00c";
}
.wi-day-thunderstorm:before {
  content: "\f010";
}
.wi-day-windy:before {
  content: "\f085";
}
.wi-solar-eclipse:before {
  content: "\f06e";
}
.wi-hot:before {
  content: "\f072";
}
.wi-day-cloudy-high:before {
  content: "\f07d";
}
.wi-day-light-wind:before {
  content: "\f0c4";
}
.wi-night-clear:before {
  content: "\f02e";
}
.wi-night-alt-cloudy:before {
  content: "\f086";
}
.wi-night-alt-cloudy-gusts:before {
  content: "\f022";
}
.wi-night-alt-cloudy-windy:before {
  content: "\f023";
}
.wi-night-alt-hail:before {
  content: "\f024";
}
.wi-night-alt-lightning:before {
  content: "\f025";
}
.wi-night-alt-rain:before {
  content: "\f028";
}
.wi-night-alt-rain-mix:before {
  content: "\f026";
}
.wi-night-alt-rain-wind:before {
  content: "\f027";
}
.wi-night-alt-showers:before {
  content: "\f029";
}
.wi-night-alt-sleet:before {
  content: "\f0b4";
}
.wi-night-alt-sleet-storm:before {
  content: "\f06a";
}
.wi-night-alt-snow:before {
  content: "\f02a";
}
.wi-night-alt-snow-thunderstorm:before {
  content: "\f06d";
}
.wi-night-alt-snow-wind:before {
  content: "\f067";
}
.wi-night-alt-sprinkle:before {
  content: "\f02b";
}
.wi-night-alt-storm-showers:before {
  content: "\f02c";
}
.wi-night-alt-thunderstorm:before {
  content: "\f02d";
}
.wi-night-cloudy:before {
  content: "\f031";
}
.wi-night-cloudy-gusts:before {
  content: "\f02f";
}
.wi-night-cloudy-windy:before {
  content: "\f030";
}
.wi-night-fog:before {
  content: "\f04a";
}
.wi-night-hail:before {
  content: "\f032";
}
.wi-night-lightning:before {
  content: "\f033";
}
.wi-night-partly-cloudy:before {
  content: "\f083";
}
.wi-night-rain:before {
  content: "\f036";
}
.wi-night-rain-mix:before {
  content: "\f034";
}
.wi-night-rain-wind:before {
  content: "\f035";
}
.wi-night-showers:before {
  content: "\f037";
}
.wi-night-sleet:before {
  content: "\f0b3";
}
.wi-night-sleet-storm:before {
  content: "\f069";
}
.wi-night-snow:before {
  content: "\f038";
}
.wi-night-snow-thunderstorm:before {
  content: "\f06c";
}
.wi-night-snow-wind:before {
  content: "\f066";
}
.wi-night-sprinkle:before {
  content: "\f039";
}
.wi-night-storm-showers:before {
  content: "\f03a";
}
.wi-night-thunderstorm:before {
  content: "\f03b";
}
.wi-lunar-eclipse:before {
  content: "\f070";
}
.wi-stars:before {
  content: "\f077";
}
.wi-storm-showers:before {
  content: "\f01d";
}
.wi-thunderstorm:before {
  content: "\f01e";
}
.wi-night-alt-cloudy-high:before {
  content: "\f07e";
}
.wi-night-cloudy-high:before {
  content: "\f080";
}
.wi-night-alt-partly-cloudy:before {
  content: "\f081";
}
.wi-cloud:before {
  content: "\f041";
}
.wi-cloudy:before {
  content: "\f013";
}
.wi-cloudy-gusts:before {
  content: "\f011";
}
.wi-cloudy-windy:before {
  content: "\f012";
}
.wi-fog:before {
  content: "\f014";
}
.wi-hail:before {
  content: "\f015";
}
.wi-rain:before {
  content: "\f019";
}
.wi-rain-mix:before {
  content: "\f017";
}
.wi-rain-wind:before {
  content: "\f018";
}
.wi-showers:before {
  content: "\f01a";
}
.wi-sleet:before {
  content: "\f0b5";
}
.wi-snow:before {
  content: "\f01b";
}
.wi-sprinkle:before {
  content: "\f01c";
}
.wi-storm-showers:before {
  content: "\f01d";
}
.wi-thunderstorm:before {
  content: "\f01e";
}
.wi-snow-wind:before {
  content: "\f064";
}
.wi-snow:before {
  content: "\f01b";
}
.wi-smog:before {
  content: "\f074";
}
.wi-smoke:before {
  content: "\f062";
}
.wi-lightning:before {
  content: "\f016";
}
.wi-raindrops:before {
  content: "\f04e";
}
.wi-raindrop:before {
  content: "\f078";
}
.wi-dust:before {
  content: "\f063";
}
.wi-snowflake-cold:before {
  content: "\f076";
}
.wi-windy:before {
  content: "\f021";
}
.wi-strong-wind:before {
  content: "\f050";
}
.wi-sandstorm:before {
  content: "\f082";
}
.wi-earthquake:before {
  content: "\f0c6";
}
.wi-fire:before {
  content: "\f0c7";
}
.wi-flood:before {
  content: "\f07c";
}
.wi-meteor:before {
  content: "\f071";
}
.wi-tsunami:before {
  content: "\f0c5";
}
.wi-volcano:before {
  content: "\f0c8";
}
.wi-hurricane:before {
  content: "\f073";
}
.wi-tornado:before {
  content: "\f056";
}
.wi-small-craft-advisory:before {
  content: "\f0cc";
}
.wi-gale-warning:before {
  content: "\f0cd";
}
.wi-storm-warning:before {
  content: "\f0ce";
}
.wi-hurricane-warning:before {
  content: "\f0cf";
}
.wi-wind-direction:before {
  content: "\f0b1";
}
.wi-alien:before {
  content: "\f075";
}
.wi-celsius:before {
  content: "\f03c";
}
.wi-fahrenheit:before {
  content: "\f045";
}
.wi-degrees:before {
  content: "\f042";
}
.wi-thermometer:before {
  content: "\f055";
}
.wi-thermometer-exterior:before {
  content: "\f053";
}
.wi-thermometer-internal:before {
  content: "\f054";
}
.wi-cloud-down:before {
  content: "\f03d";
}
.wi-cloud-up:before {
  content: "\f040";
}
.wi-cloud-refresh:before {
  content: "\f03e";
}
.wi-horizon:before {
  content: "\f047";
}
.wi-horizon-alt:before {
  content: "\f046";
}
.wi-sunrise:before {
  content: "\f051";
}
.wi-sunset:before {
  content: "\f052";
}
.wi-moonrise:before {
  content: "\f0c9";
}
.wi-moonset:before {
  content: "\f0ca";
}
.wi-refresh:before {
  content: "\f04c";
}
.wi-refresh-alt:before {
  content: "\f04b";
}
.wi-umbrella:before {
  content: "\f084";
}
.wi-barometer:before {
  content: "\f079";
}
.wi-humidity:before {
  content: "\f07a";
}
.wi-na:before {
  content: "\f07b";
}
.wi-train:before {
  content: "\f0cb";
}
.wi-moon-new:before {
  content: "\f095";
}
.wi-moon-waxing-cresent-1:before {
  content: "\f096";
}
.wi-moon-waxing-cresent-2:before {
  content: "\f097";
}
.wi-moon-waxing-cresent-3:before {
  content: "\f098";
}
.wi-moon-waxing-cresent-4:before {
  content: "\f099";
}
.wi-moon-waxing-cresent-5:before {
  content: "\f09a";
}
.wi-moon-waxing-cresent-6:before {
  content: "\f09b";
}
.wi-moon-first-quarter:before {
  content: "\f09c";
}
.wi-moon-waxing-gibbous-1:before {
  content: "\f09d";
}
.wi-moon-waxing-gibbous-2:before {
  content: "\f09e";
}
.wi-moon-waxing-gibbous-3:before {
  content: "\f09f";
}
.wi-moon-waxing-gibbous-4:before {
  content: "\f0a0";
}
.wi-moon-waxing-gibbous-5:before {
  content: "\f0a1";
}
.wi-moon-waxing-gibbous-6:before {
  content: "\f0a2";
}
.wi-moon-full:before {
  content: "\f0a3";
}
.wi-moon-waning-gibbous-1:before {
  content: "\f0a4";
}
.wi-moon-waning-gibbous-2:before {
  content: "\f0a5";
}
.wi-moon-waning-gibbous-3:before {
  content: "\f0a6";
}
.wi-moon-waning-gibbous-4:before {
  content: "\f0a7";
}
.wi-moon-waning-gibbous-5:before {
  content: "\f0a8";
}
.wi-moon-waning-gibbous-6:before {
  content: "\f0a9";
}
.wi-moon-third-quarter:before {
  content: "\f0aa";
}
.wi-moon-waning-crescent-1:before {
  content: "\f0ab";
}
.wi-moon-waning-crescent-2:before {
  content: "\f0ac";
}
.wi-moon-waning-crescent-3:before {
  content: "\f0ad";
}
.wi-moon-waning-crescent-4:before {
  content: "\f0ae";
}
.wi-moon-waning-crescent-5:before {
  content: "\f0af";
}
.wi-moon-waning-crescent-6:before {
  content: "\f0b0";
}
.wi-moon-alt-new:before {
  content: "\f0eb";
}
.wi-moon-alt-waxing-cresent-1:before {
  content: "\f0d0";
}
.wi-moon-alt-waxing-cresent-2:before {
  content: "\f0d1";
}
.wi-moon-alt-waxing-cresent-3:before {
  content: "\f0d2";
}
.wi-moon-alt-waxing-cresent-4:before {
  content: "\f0d3";
}
.wi-moon-alt-waxing-cresent-5:before {
  content: "\f0d4";
}
.wi-moon-alt-waxing-cresent-6:before {
  content: "\f0d5";
}
.wi-moon-alt-first-quarter:before {
  content: "\f0d6";
}
.wi-moon-alt-waxing-gibbous-1:before {
  content: "\f0d7";
}
.wi-moon-alt-waxing-gibbous-2:before {
  content: "\f0d8";
}
.wi-moon-alt-waxing-gibbous-3:before {
  content: "\f0d9";
}
.wi-moon-alt-waxing-gibbous-4:before {
  content: "\f0da";
}
.wi-moon-alt-waxing-gibbous-5:before {
  content: "\f0db";
}
.wi-moon-alt-waxing-gibbous-6:before {
  content: "\f0dc";
}
.wi-moon-alt-full:before {
  content: "\f0dd";
}
.wi-moon-alt-waning-gibbous-1:before {
  content: "\f0de";
}
.wi-moon-alt-waning-gibbous-2:before {
  content: "\f0df";
}
.wi-moon-alt-waning-gibbous-3:before {
  content: "\f0e0";
}
.wi-moon-alt-waning-gibbous-4:before {
  content: "\f0e1";
}
.wi-moon-alt-waning-gibbous-5:before {
  content: "\f0e2";
}
.wi-moon-alt-waning-gibbous-6:before {
  content: "\f0e3";
}
.wi-moon-alt-third-quarter:before {
  content: "\f0e4";
}
.wi-moon-alt-waning-crescent-1:before {
  content: "\f0e5";
}
.wi-moon-alt-waning-crescent-2:before {
  content: "\f0e6";
}
.wi-moon-alt-waning-crescent-3:before {
  content: "\f0e7";
}
.wi-moon-alt-waning-crescent-4:before {
  content: "\f0e8";
}
.wi-moon-alt-waning-crescent-5:before {
  content: "\f0e9";
}
.wi-moon-alt-waning-crescent-6:before {
  content: "\f0ea";
}
.wi-moon-0:before {
  content: "\f095";
}
.wi-moon-1:before {
  content: "\f096";
}
.wi-moon-2:before {
  content: "\f097";
}
.wi-moon-3:before {
  content: "\f098";
}
.wi-moon-4:before {
  content: "\f099";
}
.wi-moon-5:before {
  content: "\f09a";
}
.wi-moon-6:before {
  content: "\f09b";
}
.wi-moon-7:before {
  content: "\f09c";
}
.wi-moon-8:before {
  content: "\f09d";
}
.wi-moon-9:before {
  content: "\f09e";
}
.wi-moon-10:before {
  content: "\f09f";
}
.wi-moon-11:before {
  content: "\f0a0";
}
.wi-moon-12:before {
  content: "\f0a1";
}
.wi-moon-13:before {
  content: "\f0a2";
}
.wi-moon-14:before {
  content: "\f0a3";
}
.wi-moon-15:before {
  content: "\f0a4";
}
.wi-moon-16:before {
  content: "\f0a5";
}
.wi-moon-17:before {
  content: "\f0a6";
}
.wi-moon-18:before {
  content: "\f0a7";
}
.wi-moon-19:before {
  content: "\f0a8";
}
.wi-moon-20:before {
  content: "\f0a9";
}
.wi-moon-21:before {
  content: "\f0aa";
}
.wi-moon-22:before {
  content: "\f0ab";
}
.wi-moon-23:before {
  content: "\f0ac";
}
.wi-moon-24:before {
  content: "\f0ad";
}
.wi-moon-25:before {
  content: "\f0ae";
}
.wi-moon-26:before {
  content: "\f0af";
}
.wi-moon-27:before {
  content: "\f0b0";
}
.wi-time-1:before {
  content: "\f08a";
}
.wi-time-2:before {
  content: "\f08b";
}
.wi-time-3:before {
  content: "\f08c";
}
.wi-time-4:before {
  content: "\f08d";
}
.wi-time-5:before {
  content: "\f08e";
}
.wi-time-6:before {
  content: "\f08f";
}
.wi-time-7:before {
  content: "\f090";
}
.wi-time-8:before {
  content: "\f091";
}
.wi-time-9:before {
  content: "\f092";
}
.wi-time-10:before {
  content: "\f093";
}
.wi-time-11:before {
  content: "\f094";
}
.wi-time-12:before {
  content: "\f089";
}
.wi-direction-up:before {
  content: "\f058";
}
.wi-direction-up-right:before {
  content: "\f057";
}
.wi-direction-right:before {
  content: "\f04d";
}
.wi-direction-down-right:before {
  content: "\f088";
}
.wi-direction-down:before {
  content: "\f044";
}
.wi-direction-down-left:before {
  content: "\f043";
}
.wi-direction-left:before {
  content: "\f048";
}
.wi-direction-up-left:before {
  content: "\f087";
}
.wi-wind-beaufort-0:before {
  content: "\f0b7";
}
.wi-wind-beaufort-1:before {
  content: "\f0b8";
}
.wi-wind-beaufort-2:before {
  content: "\f0b9";
}
.wi-wind-beaufort-3:before {
  content: "\f0ba";
}
.wi-wind-beaufort-4:before {
  content: "\f0bb";
}
.wi-wind-beaufort-5:before {
  content: "\f0bc";
}
.wi-wind-beaufort-6:before {
  content: "\f0bd";
}
.wi-wind-beaufort-7:before {
  content: "\f0be";
}
.wi-wind-beaufort-8:before {
  content: "\f0bf";
}
.wi-wind-beaufort-9:before {
  content: "\f0c0";
}
.wi-wind-beaufort-10:before {
  content: "\f0c1";
}
.wi-wind-beaufort-11:before {
  content: "\f0c2";
}
.wi-wind-beaufort-12:before {
  content: "\f0c3";
}
.wi-yahoo-0:before {
  content: "\f056";
}
.wi-yahoo-1:before {
  content: "\f00e";
}
.wi-yahoo-2:before {
  content: "\f073";
}
.wi-yahoo-3:before {
  content: "\f01e";
}
.wi-yahoo-4:before {
  content: "\f01e";
}
.wi-yahoo-5:before {
  content: "\f017";
}
.wi-yahoo-6:before {
  content: "\f017";
}
.wi-yahoo-7:before {
  content: "\f017";
}
.wi-yahoo-8:before {
  content: "\f015";
}
.wi-yahoo-9:before {
  content: "\f01a";
}
.wi-yahoo-10:before {
  content: "\f015";
}
.wi-yahoo-11:before {
  content: "\f01a";
}
.wi-yahoo-12:before {
  content: "\f01a";
}
.wi-yahoo-13:before {
  content: "\f01b";
}
.wi-yahoo-14:before {
  content: "\f00a";
}
.wi-yahoo-15:before {
  content: "\f064";
}
.wi-yahoo-16:before {
  content: "\f01b";
}
.wi-yahoo-17:before {
  content: "\f015";
}
.wi-yahoo-18:before {
  content: "\f017";
}
.wi-yahoo-19:before {
  content: "\f063";
}
.wi-yahoo-20:before {
  content: "\f014";
}
.wi-yahoo-21:before {
  content: "\f021";
}
.wi-yahoo-22:before {
  content: "\f062";
}
.wi-yahoo-23:before {
  content: "\f050";
}
.wi-yahoo-24:before {
  content: "\f050";
}
.wi-yahoo-25:before {
  content: "\f076";
}
.wi-yahoo-26:before {
  content: "\f013";
}
.wi-yahoo-27:before {
  content: "\f031";
}
.wi-yahoo-28:before {
  content: "\f002";
}
.wi-yahoo-29:before {
  content: "\f031";
}
.wi-yahoo-30:before {
  content: "\f002";
}
.wi-yahoo-31:before {
  content: "\f02e";
}
.wi-yahoo-32:before {
  content: "\f00d";
}
.wi-yahoo-33:before {
  content: "\f083";
}
.wi-yahoo-34:before {
  content: "\f00c";
}
.wi-yahoo-35:before {
  content: "\f017";
}
.wi-yahoo-36:before {
  content: "\f072";
}
.wi-yahoo-37:before {
  content: "\f00e";
}
.wi-yahoo-38:before {
  content: "\f00e";
}
.wi-yahoo-39:before {
  content: "\f00e";
}
.wi-yahoo-40:before {
  content: "\f01a";
}
.wi-yahoo-41:before {
  content: "\f064";
}
.wi-yahoo-42:before {
  content: "\f01b";
}
.wi-yahoo-43:before {
  content: "\f064";
}
.wi-yahoo-44:before {
  content: "\f00c";
}
.wi-yahoo-45:before {
  content: "\f00e";
}
.wi-yahoo-46:before {
  content: "\f01b";
}
.wi-yahoo-47:before {
  content: "\f00e";
}
.wi-yahoo-3200:before {
  content: "\f077";
}
.wi-forecast-io-clear-day:before {
  content: "\f00d";
}
.wi-forecast-io-clear-night:before {
  content: "\f02e";
}
.wi-forecast-io-rain:before {
  content: "\f019";
}
.wi-forecast-io-snow:before {
  content: "\f01b";
}
.wi-forecast-io-sleet:before {
  content: "\f0b5";
}
.wi-forecast-io-wind:before {
  content: "\f050";
}
.wi-forecast-io-fog:before {
  content: "\f014";
}
.wi-forecast-io-cloudy:before {
  content: "\f013";
}
.wi-forecast-io-partly-cloudy-day:before {
  content: "\f002";
}
.wi-forecast-io-partly-cloudy-night:before {
  content: "\f031";
}
.wi-forecast-io-hail:before {
  content: "\f015";
}
.wi-forecast-io-thunderstorm:before {
  content: "\f01e";
}
.wi-forecast-io-tornado:before {
  content: "\f056";
}
.wi-wmo4680-0:before,
.wi-wmo4680-00:before {
  content: "\f055";
}
.wi-wmo4680-1:before,
.wi-wmo4680-01:before {
  content: "\f013";
}
.wi-wmo4680-2:before,
.wi-wmo4680-02:before {
  content: "\f055";
}
.wi-wmo4680-3:before,
.wi-wmo4680-03:before {
  content: "\f013";
}
.wi-wmo4680-4:before,
.wi-wmo4680-04:before {
  content: "\f014";
}
.wi-wmo4680-5:before,
.wi-wmo4680-05:before {
  content: "\f014";
}
.wi-wmo4680-10:before {
  content: "\f014";
}
.wi-wmo4680-11:before {
  content: "\f014";
}
.wi-wmo4680-12:before {
  content: "\f016";
}
.wi-wmo4680-18:before {
  content: "\f050";
}
.wi-wmo4680-20:before {
  content: "\f014";
}
.wi-wmo4680-21:before {
  content: "\f017";
}
.wi-wmo4680-22:before {
  content: "\f017";
}
.wi-wmo4680-23:before {
  content: "\f019";
}
.wi-wmo4680-24:before {
  content: "\f01b";
}
.wi-wmo4680-25:before {
  content: "\f015";
}
.wi-wmo4680-26:before {
  content: "\f01e";
}
.wi-wmo4680-27:before {
  content: "\f063";
}
.wi-wmo4680-28:before {
  content: "\f063";
}
.wi-wmo4680-29:before {
  content: "\f063";
}
.wi-wmo4680-30:before {
  content: "\f014";
}
.wi-wmo4680-31:before {
  content: "\f014";
}
.wi-wmo4680-32:before {
  content: "\f014";
}
.wi-wmo4680-33:before {
  content: "\f014";
}
.wi-wmo4680-34:before {
  content: "\f014";
}
.wi-wmo4680-35:before {
  content: "\f014";
}
.wi-wmo4680-40:before {
  content: "\f017";
}
.wi-wmo4680-41:before {
  content: "\f01c";
}
.wi-wmo4680-42:before {
  content: "\f019";
}
.wi-wmo4680-43:before {
  content: "\f01c";
}
.wi-wmo4680-44:before {
  content: "\f019";
}
.wi-wmo4680-45:before {
  content: "\f015";
}
.wi-wmo4680-46:before {
  content: "\f015";
}
.wi-wmo4680-47:before {
  content: "\f01b";
}
.wi-wmo4680-48:before {
  content: "\f01b";
}
.wi-wmo4680-50:before {
  content: "\f01c";
}
.wi-wmo4680-51:before {
  content: "\f01c";
}
.wi-wmo4680-52:before {
  content: "\f019";
}
.wi-wmo4680-53:before {
  content: "\f019";
}
.wi-wmo4680-54:before {
  content: "\f076";
}
.wi-wmo4680-55:before {
  content: "\f076";
}
.wi-wmo4680-56:before {
  content: "\f076";
}
.wi-wmo4680-57:before {
  content: "\f01c";
}
.wi-wmo4680-58:before {
  content: "\f019";
}
.wi-wmo4680-60:before {
  content: "\f01c";
}
.wi-wmo4680-61:before {
  content: "\f01c";
}
.wi-wmo4680-62:before {
  content: "\f019";
}
.wi-wmo4680-63:before {
  content: "\f019";
}
.wi-wmo4680-64:before {
  content: "\f015";
}
.wi-wmo4680-65:before {
  content: "\f015";
}
.wi-wmo4680-66:before {
  content: "\f015";
}
.wi-wmo4680-67:before {
  content: "\f017";
}
.wi-wmo4680-68:before {
  content: "\f017";
}
.wi-wmo4680-70:before {
  content: "\f01b";
}
.wi-wmo4680-71:before {
  content: "\f01b";
}
.wi-wmo4680-72:before {
  content: "\f01b";
}
.wi-wmo4680-73:before {
  content: "\f01b";
}
.wi-wmo4680-74:before {
  content: "\f076";
}
.wi-wmo4680-75:before {
  content: "\f076";
}
.wi-wmo4680-76:before {
  content: "\f076";
}
.wi-wmo4680-77:before {
  content: "\f01b";
}
.wi-wmo4680-78:before {
  content: "\f076";
}
.wi-wmo4680-80:before {
  content: "\f019";
}
.wi-wmo4680-81:before {
  content: "\f01c";
}
.wi-wmo4680-82:before {
  content: "\f019";
}
.wi-wmo4680-83:before {
  content: "\f019";
}
.wi-wmo4680-84:before {
  content: "\f01d";
}
.wi-wmo4680-85:before {
  content: "\f017";
}
.wi-wmo4680-86:before {
  content: "\f017";
}
.wi-wmo4680-87:before {
  content: "\f017";
}
.wi-wmo4680-89:before {
  content: "\f015";
}
.wi-wmo4680-90:before {
  content: "\f016";
}
.wi-wmo4680-91:before {
  content: "\f01d";
}
.wi-wmo4680-92:before {
  content: "\f01e";
}
.wi-wmo4680-93:before {
  content: "\f01e";
}
.wi-wmo4680-94:before {
  content: "\f016";
}
.wi-wmo4680-95:before {
  content: "\f01e";
}
.wi-wmo4680-96:before {
  content: "\f01e";
}
.wi-wmo4680-99:before {
  content: "\f056";
}
.wi-owm-200:before {
  content: "\f01e";
}
.wi-owm-201:before {
  content: "\f01e";
}
.wi-owm-202:before {
  content: "\f01e";
}
.wi-owm-210:before {
  content: "\f016";
}
.wi-owm-211:before {
  content: "\f016";
}
.wi-owm-212:before {
  content: "\f016";
}
.wi-owm-221:before {
  content: "\f016";
}
.wi-owm-230:before {
  content: "\f01e";
}
.wi-owm-231:before {
  content: "\f01e";
}
.wi-owm-232:before {
  content: "\f01e";
}
.wi-owm-300:before {
  content: "\f01c";
}
.wi-owm-301:before {
  content: "\f01c";
}
.wi-owm-302:before {
  content: "\f019";
}
.wi-owm-310:before {
  content: "\f017";
}
.wi-owm-311:before {
  content: "\f019";
}
.wi-owm-312:before {
  content: "\f019";
}
.wi-owm-313:before {
  content: "\f01a";
}
.wi-owm-314:before {
  content: "\f019";
}
.wi-owm-321:before {
  content: "\f01c";
}
.wi-owm-500:before {
  content: "\f01c";
}
.wi-owm-501:before {
  content: "\f019";
}
.wi-owm-502:before {
  content: "\f019";
}
.wi-owm-503:before {
  content: "\f019";
}
.wi-owm-504:before {
  content: "\f019";
}
.wi-owm-511:before {
  content: "\f017";
}
.wi-owm-520:before {
  content: "\f01a";
}
.wi-owm-521:before {
  content: "\f01a";
}
.wi-owm-522:before {
  content: "\f01a";
}
.wi-owm-531:before {
  content: "\f01d";
}
.wi-owm-600:before {
  content: "\f01b";
}
.wi-owm-601:before {
  content: "\f01b";
}
.wi-owm-602:before {
  content: "\f0b5";
}
.wi-owm-611:before {
  content: "\f017";
}
.wi-owm-612:before {
  content: "\f017";
}
.wi-owm-615:before {
  content: "\f017";
}
.wi-owm-616:before {
  content: "\f017";
}
.wi-owm-620:before {
  content: "\f017";
}
.wi-owm-621:before {
  content: "\f01b";
}
.wi-owm-622:before {
  content: "\f01b";
}
.wi-owm-701:before {
  content: "\f01a";
}
.wi-owm-711:before {
  content: "\f062";
}
.wi-owm-721:before {
  content: "\f0b6";
}
.wi-owm-731:before {
  content: "\f063";
}
.wi-owm-741:before {
  content: "\f014";
}
.wi-owm-761:before {
  content: "\f063";
}
.wi-owm-762:before {
  content: "\f063";
}
.wi-owm-771:before {
  content: "\f011";
}
.wi-owm-781:before {
  content: "\f056";
}
.wi-owm-800:before {
  content: "\f00d";
}
.wi-owm-801:before {
  content: "\f011";
}
.wi-owm-802:before {
  content: "\f011";
}
.wi-owm-803:before {
  content: "\f011";
}
.wi-owm-803:before {
  content: "\f012";
}
.wi-owm-804:before {
  content: "\f013";
}
.wi-owm-900:before {
  content: "\f056";
}
.wi-owm-901:before {
  content: "\f01d";
}
.wi-owm-902:before {
  content: "\f073";
}
.wi-owm-903:before {
  content: "\f076";
}
.wi-owm-904:before {
  content: "\f072";
}
.wi-owm-905:before {
  content: "\f021";
}
.wi-owm-906:before {
  content: "\f015";
}
.wi-owm-957:before {
  content: "\f050";
}
.wi-owm-day-200:before {
  content: "\f010";
}
.wi-owm-day-201:before {
  content: "\f010";
}
.wi-owm-day-202:before {
  content: "\f010";
}
.wi-owm-day-210:before {
  content: "\f005";
}
.wi-owm-day-211:before {
  content: "\f005";
}
.wi-owm-day-212:before {
  content: "\f005";
}
.wi-owm-day-221:before {
  content: "\f005";
}
.wi-owm-day-230:before {
  content: "\f010";
}
.wi-owm-day-231:before {
  content: "\f010";
}
.wi-owm-day-232:before {
  content: "\f010";
}
.wi-owm-day-300:before {
  content: "\f00b";
}
.wi-owm-day-301:before {
  content: "\f00b";
}
.wi-owm-day-302:before {
  content: "\f008";
}
.wi-owm-day-310:before {
  content: "\f008";
}
.wi-owm-day-311:before {
  content: "\f008";
}
.wi-owm-day-312:before {
  content: "\f008";
}
.wi-owm-day-313:before {
  content: "\f008";
}
.wi-owm-day-314:before {
  content: "\f008";
}
.wi-owm-day-321:before {
  content: "\f00b";
}
.wi-owm-day-500:before {
  content: "\f00b";
}
.wi-owm-day-501:before {
  content: "\f008";
}
.wi-owm-day-502:before {
  content: "\f008";
}
.wi-owm-day-503:before {
  content: "\f008";
}
.wi-owm-day-504:before {
  content: "\f008";
}
.wi-owm-day-511:before {
  content: "\f006";
}
.wi-owm-day-520:before {
  content: "\f009";
}
.wi-owm-day-521:before {
  content: "\f009";
}
.wi-owm-day-522:before {
  content: "\f009";
}
.wi-owm-day-531:before {
  content: "\f00e";
}
.wi-owm-day-600:before {
  content: "\f00a";
}
.wi-owm-day-601:before {
  content: "\f0b2";
}
.wi-owm-day-602:before {
  content: "\f00a";
}
.wi-owm-day-611:before {
  content: "\f006";
}
.wi-owm-day-612:before {
  content: "\f006";
}
.wi-owm-day-615:before {
  content: "\f006";
}
.wi-owm-day-616:before {
  content: "\f006";
}
.wi-owm-day-620:before {
  content: "\f006";
}
.wi-owm-day-621:before {
  content: "\f00a";
}
.wi-owm-day-622:before {
  content: "\f00a";
}
.wi-owm-day-701:before {
  content: "\f009";
}
.wi-owm-day-711:before {
  content: "\f062";
}
.wi-owm-day-721:before {
  content: "\f0b6";
}
.wi-owm-day-731:before {
  content: "\f063";
}
.wi-owm-day-741:before {
  content: "\f003";
}
.wi-owm-day-761:before {
  content: "\f063";
}
.wi-owm-day-762:before {
  content: "\f063";
}
.wi-owm-day-781:before {
  content: "\f056";
}
.wi-owm-day-800:before {
  content: "\f00d";
}
.wi-owm-day-801:before {
  content: "\f000";
}
.wi-owm-day-802:before {
  content: "\f000";
}
.wi-owm-day-803:before {
  content: "\f000";
}
.wi-owm-day-804:before {
  content: "\f00c";
}
.wi-owm-day-900:before {
  content: "\f056";
}
.wi-owm-day-902:before {
  content: "\f073";
}
.wi-owm-day-903:before {
  content: "\f076";
}
.wi-owm-day-904:before {
  content: "\f072";
}
.wi-owm-day-906:before {
  content: "\f004";
}
.wi-owm-day-957:before {
  content: "\f050";
}
.wi-owm-night-200:before {
  content: "\f02d";
}
.wi-owm-night-201:before {
  content: "\f02d";
}
.wi-owm-night-202:before {
  content: "\f02d";
}
.wi-owm-night-210:before {
  content: "\f025";
}
.wi-owm-night-211:before {
  content: "\f025";
}
.wi-owm-night-212:before {
  content: "\f025";
}
.wi-owm-night-221:before {
  content: "\f025";
}
.wi-owm-night-230:before {
  content: "\f02d";
}
.wi-owm-night-231:before {
  content: "\f02d";
}
.wi-owm-night-232:before {
  content: "\f02d";
}
.wi-owm-night-300:before {
  content: "\f02b";
}
.wi-owm-night-301:before {
  content: "\f02b";
}
.wi-owm-night-302:before {
  content: "\f028";
}
.wi-owm-night-310:before {
  content: "\f028";
}
.wi-owm-night-311:before {
  content: "\f028";
}
.wi-owm-night-312:before {
  content: "\f028";
}
.wi-owm-night-313:before {
  content: "\f028";
}
.wi-owm-night-314:before {
  content: "\f028";
}
.wi-owm-night-321:before {
  content: "\f02b";
}
.wi-owm-night-500:before {
  content: "\f02b";
}
.wi-owm-night-501:before {
  content: "\f028";
}
.wi-owm-night-502:before {
  content: "\f028";
}
.wi-owm-night-503:before {
  content: "\f028";
}
.wi-owm-night-504:before {
  content: "\f028";
}
.wi-owm-night-511:before {
  content: "\f026";
}
.wi-owm-night-520:before {
  content: "\f029";
}
.wi-owm-night-521:before {
  content: "\f029";
}
.wi-owm-night-522:before {
  content: "\f029";
}
.wi-owm-night-531:before {
  content: "\f02c";
}
.wi-owm-night-600:before {
  content: "\f02a";
}
.wi-owm-night-601:before {
  content: "\f0b4";
}
.wi-owm-night-602:before {
  content: "\f02a";
}
.wi-owm-night-611:before {
  content: "\f026";
}
.wi-owm-night-612:before {
  content: "\f026";
}
.wi-owm-night-615:before {
  content: "\f026";
}
.wi-owm-night-616:before {
  content: "\f026";
}
.wi-owm-night-620:before {
  content: "\f026";
}
.wi-owm-night-621:before {
  content: "\f02a";
}
.wi-owm-night-622:before {
  content: "\f02a";
}
.wi-owm-night-701:before {
  content: "\f029";
}
.wi-owm-night-711:before {
  content: "\f062";
}
.wi-owm-night-721:before {
  content: "\f0b6";
}
.wi-owm-night-731:before {
  content: "\f063";
}
.wi-owm-night-741:before {
  content: "\f04a";
}
.wi-owm-night-761:before {
  content: "\f063";
}
.wi-owm-night-762:before {
  content: "\f063";
}
.wi-owm-night-781:before {
  content: "\f056";
}
.wi-owm-night-800:before {
  content: "\f02e";
}
.wi-owm-night-801:before {
  content: "\f022";
}
.wi-owm-night-802:before {
  content: "\f022";
}
.wi-owm-night-803:before {
  content: "\f022";
}
.wi-owm-night-804:before {
  content: "\f086";
}
.wi-owm-night-900:before {
  content: "\f056";
}
.wi-owm-night-902:before {
  content: "\f073";
}
.wi-owm-night-903:before {
  content: "\f076";
}
.wi-owm-night-904:before {
  content: "\f072";
}
.wi-owm-night-906:before {
  content: "\f024";
}
.wi-owm-night-957:before {
  content: "\f050";
}
